.invalid-feedback {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  animation: slideUp 0.2s ease;
  
  p {
    width: 100%;
    padding: 0.2rem 0;
    color: #ff2d2d;
    font-size: 0.8rem;
    line-height: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.valid-feedback {
  @extend .invalid-feedback;

  p {
    display: flex;
    color: #26c45b;
    align-items: center;

    .material-icons {
      margin-left: 0.2rem;
      color: inherit;
      font-size: 0.8rem;
    }
  }
}