<span 
  *ngIf="control.touched && control?.errors && 
  !field?.customFeedback?.condition"
  class="invalid-feedback">
  <p *ngIf="field.fieldKey !== 'rePassword' && control.errors.required">
    Please enter a valid {{ label }}
  </p>

  <p *ngIf="control.errors.pattern">
    Invalid {{ label }} format
  </p>

  <p *ngIf="control.value && control.errors.email">
    Invalid email format
  </p>

  <p *ngIf="control.errors.minlength">
    Cannot be less than 
    {{ control.errors.minlength.requiredLength }} characters
  </p>

  <p *ngIf="control.errors.exists">
    This {{ label }} is already in use
  </p>

  <p *ngIf="control.value && control.errors.password">
    This {{ label }} is not secure
  </p>
</span>

<!-- Re-password control -->
<span 
  *ngIf="field.fieldKey === 'rePassword' && 
  control.touched && form.get('password').value"
  class="invalid-feedback">
  <p *ngIf="control?.errors?.required">
    Please re-enter your password
  </p>

  <p 
    *ngIf="control.value && form?.errors?.rePassword">
    The passwords don't match. Please verify
  </p>
</span>

<!-- Custom feedback -->
<span 
  *ngIf="control.dirty && field?.customFeedback?.condition" 
  class="invalid-feedback">
  <p>{{ field.customFeedback.message }}</p>
</span>

<!-- After async valid feedback -->
<span 
  *ngIf="field.validators.async && control.valid" 
  class="valid-feedback">
  <p>Available! <i class="material-icons">done</i></p>
</span>