<span 
  *ngIf="control.touched && control?.errors && 
  !field?.customFeedback?.condition"
  class="invalid-feedback">
  <div>
    <p *ngIf="control.errors.required">
      Enter your {{ label }}
    </p>
  </div>

  <div>
    <p *ngIf="control.errors.pattern">
      Invalid {{ label }} format
    </p>
  </div>

  <div>
    <p *ngIf="control.errors.minlength">
      Cannot be less than 
      {{ control.errors.minlength.requiredLength }} characters
    </p>
  </div>

  <div>
    <p *ngIf="control.errors.exists">
      This {{ label }} is already in use
    </p>
  </div>

  <div>
    <p *ngIf="control.value && control.errors.password">
      This {{ label }} isn't secure
    </p>
  </div>
</span>

<span *ngIf="control.dirty && field?.customFeedback?.condition" 
  class="invalid-feedback">
  <p>{{ field.customFeedback.message }}</p>
</span>

<!-- <span *ngIf="field.fieldType == 'email' && control.valid" class="valid-feedback">
  <p>Available! <i class="material-icons">done</i></p>
</span> -->