.product-images {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  background-color: #fff;
  transition: opacity .3s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }

  .preview-l {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    overflow: hidden;

    .preview {
      height: 484px;
      cursor: pointer;
      // transition: width .2s ease, height .2s ease;

      img {
        display: block;
        min-height: 100%;
      }
    }
  }

  .show-more-btn {
    margin: 2rem auto 0;
    height: 40px;         

    .material-icons {
      margin-right: 0.6rem;
      font-size: 1.3rem;
    }
  }

  .preview-s {
    display: none;
  }
}

@media (max-width: 768px) {
  .product-images {
    width: 100%;

    .preview-l,
    .show-more-btn {
      display: none;
    }

    .preview-s {
      display: flex;
      width: 100%;
      height: 350px;          
      border-radius: 4px;
      overflow: hidden;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      .slide {          
        flex-shrink: 0;
        width: 100%;
        height: inherit;    
        scroll-snap-align: center;

        &:not(:last-of-type) {
          margin-right: 1.5rem;
        }
      }        
    }

    .indicator-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 1.5rem;
      overflow: hidden;

      .indicator {
        display: block;
        width: 8px;
        height: 8px;
        border: 2px solid transparent;
        border-radius: 15px;
        background-color: #d4d8e4;
        transition: background-color 0.4s ease,
        border-color 0.4s ease;

        &:not(:last-of-type) {
          margin-right: 0.2rem;
        }

        &.active {
          border-color: rgba(248, 96, 129, 0.815);
          background-color: transparent;
        }
      }
    }

    .thumbnail-wrapper {        
      display: none;  
    }
  }
}