@mixin ease-gradient($deg) {
  background: linear-gradient(
    $deg,
    hsl(229, 8%, 61%) 0%,
    hsla(229, 8%, 61%, 0.738) 19%,
    hsla(229, 8%, 61%, 0.541) 34%,
    hsla(229, 8%, 61%, 0.382) 47%,
    hsla(229, 8%, 61%, 0.278) 56.5%,
    hsla(229, 8%, 61%, 0.194) 65%,
    hsla(229, 8%, 61%, 0.126) 73%,
    hsla(229, 8%, 61%, 0.075) 80.2%,
    hsla(229, 8%, 61%, 0.042) 86.1%,
    hsla(229, 8%, 61%, 0.021) 91%,
    hsla(229, 8%, 61%, 0.008) 95.2%,
    hsla(229, 8%, 61%, 0.002) 98.2%,
    hsla(229, 8%, 61%, 0) 100%
  );
}

.product-images {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  background-color: #fff;
  transition: opacity .3s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }

  .preview-l {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    overflow: hidden;

    .preview {
      height: 484px;

      img {
        display: block;
        min-height: 100%;
      }
    }
  }

  .preview-s {
    display: none;
  }

  .thumbnail-wrapper {        
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    border-radius: 4px;
    overflow: hidden;

    .nav-btns {
      position: absolute;
      top: 0;
      padding: 0 0.5rem;
      height: 100%;
      transition: opacity .4s ease;
      z-index: 1;                  

      .material-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        color: #4c4e5a;
        border-radius: 40px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease,
        transform 0.3s ease;
      }

      &.nav-left {
        left: 0;
        @include ease-gradient(90deg);

        &:hover {
          .material-icons {
            transform: translateX(2px);
            background-color: #f6f8ff; 
          }
        }
      }

      &.nav-right {
        right: 0;
        @include ease-gradient(-90deg);

        &:hover {
          .material-icons {
            transform: translateX(-2px);
            background-color: #f6f8ff; 
          }
        }
      }     
      
      &:disabled {
        pointer-events: none;
        opacity: 0;
      }
    }
  }

  .thumbnail-list {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    .thumbnail {          
      flex-shrink: 0;
      width: 130px;
      height: 100px;        
      padding: 0.1rem;
      margin-right: 0.5rem;
      border: 1px solid #e7edff;
      border-radius: 4px;
      scroll-snap-align: center;
      transition: border-color 0.4s ease,
      background-color 0.4s ease;
      overflow: hidden;
      
      &.active {
        position: relative;
        border-color: #4c4e5a;
      
        &::after {              
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }        
  }
}

@media (max-width: 768px) {
  .product-images {
    width: 100%;

    .preview-l {
      display: none;
    }

    .preview-s {
      display: flex;
      width: 100%;
      height: 350px;          
      border-radius: 4px;
      overflow: hidden;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      .slide {          
        flex-shrink: 0;
        width: 100%;
        height: inherit;    
        scroll-snap-align: center;

        &:not(:last-of-type) {
          margin-right: 1.5rem;
        }
      }        
    }

    .indicator-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 1.5rem;
      overflow: hidden;

      .indicator {
        display: block;
        width: 8px;
        height: 8px;
        border: 2px solid transparent;
        border-radius: 15px;
        background-color: #d4d8e4;
        transition: background-color 0.4s ease,
        border-color 0.4s ease;

        &:not(:last-of-type) {
          margin-right: 0.2rem;
        }

        &.active {
          border-color: rgba(248, 96, 129, 0.815);
          background-color: transparent;
        }
      }
    }

    .thumbnail-wrapper {        
      display: none;  
    }
  }
}