<div class="product-images" >
  <!-- Large screen -->
  <div class="preview-l">
    <div #preview *ngFor="let image of images.slice(0, 4)" class="preview">
      <img 
        (load)="resizeImagePreviews()"
        image-loader
        [src]="image" 
        alt="Product Image"
        draggable="false">
    </div>
  </div>

  <!-- Small Screen -->
  <div class="preview-s-wrapper">
    <ul (scroll)="onPreviewScroll($event.target)" class="preview-s">
      <li *ngFor="let image of images;" class="slide">
        <img image-loader [src]="image" alt="Product Image">
      </li>
    </ul>

    <div class="indicator-wrapper">
      <span 
        *ngFor="let i of images; index as index" 
        class="indicator"
        [class.active]="activePreview == index"></span>
    </div>
  </div>

  <div style="display: none;" class="thumbnail-wrapper">
    <button 
      (click)="onNavBtnClick('before')"
      #navButton class="nav-btns nav-left" 
      disabled>
      <i class="material-icons">arrow_left</i>
    </button>

    <ul #thumbnailList class="thumbnail-list">        
      <li 
        (mouseover)="activePreview = index"
        (click)="activePreview = index"
        *ngFor="let thumbnail of images; index as index" 
        class="thumbnail"
        [class.active]="activePreview == index">

        <img 
          image-loader
          [src]="thumbnail" 
          alt="Next product image thumbnail"
          draggable="false">
      </li>
    </ul>

    <button 
      (click)="onNavBtnClick('next')"
      #navButton class="nav-btns nav-right">
      <i class="material-icons">arrow_right</i>
    </button>          
  </div>   
</div>
