<div *ngIf="images && images?.length" class="product-images" >
  <!-- Large screen -->
  <div>
    <div class="preview-l">
      <div #preview *ngFor="let image of altImages" class="preview">
        <img 
          (load)="resizeImagePreviews()"
          image-loader
          [src]="image" 
          alt="Product Image"
          draggable="false">
      </div>
    </div>
  
    <button 
      *ngIf="altImages?.length <= 4 && images.length > altImages?.length"
      (click)="altImages = images" class="show-more-btn">
      <i class="material-icons">photo_camera</i>
      <span>Show More Images</span>
    </button>
  </div>

  <!-- Small Screen -->
  <div class="preview-s-wrapper">
    <ul (scroll)="onPreviewScroll($event.target)" class="preview-s">
      <li *ngFor="let image of images;" class="slide">
        <img image-loader [src]="image" alt="Product Image">
      </li>
    </ul>

    <div class="indicator-wrapper">
      <span 
        *ngFor="let i of images; index as index" 
        class="indicator"
        [class.active]="activePreview == index"></span>
    </div>
  </div>
</div>
