.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .empty-cart-msg,
  .not-loggedin-msg {
    margin: 15rem auto;
    user-select: none;
    
    h3 {
      font-size: .9rem;
      font-weight: 400;
      text-align: center;
    }

    .btn-xl-filled {
      margin: 2rem auto;
    }
  }


  .content {
    width: 100%;
    height: 100%;
    padding: 0 3rem;
    padding-bottom: 70px;
    animation: reveal 0.4s ease;
  }

  .item-list {
    position: relative;
    width: 100%;
    height: inherit;
    padding: 87.19px 0 1rem;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .title {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
    }

    li {
      display: flex;
      width: inherit;
      padding: 1.5rem 0;
      
      &:not(:last-of-type) {
        border-bottom: thin solid #e7edff;
      }

      .product-image {
        flex-shrink: 0;
        width: 110px;
        height: 110px;
        margin-right: 1.5rem;
        background-color: #fff;

        img {
          height: 100%;
          object-fit: contain;
          object-position: center center;
        }
      }

      .product-info {
        width: calc(100% - 130px);
        overflow: hidden;

        .product-name {
          display: block;
          width: fit-content;
          margin-bottom: 0.5rem;
          color: #2587f7;
          font-weight: 500;
          line-height: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .price {
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          font-weight: 600;
        }

        .stock-label {
          color: #4da861;
          font-size: .8rem;
        }

        .options {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          margin-top: 1rem;
          font-size: 0.85rem;

          #quantity {
            flex-shrink: 0;
            display: inline-block;
            width: 60px;
            padding: 0.2rem 0.6rem;      
            margin-left: 0.2rem;
            text-align: center;
            border-radius: 100px;
            background-color: #e6e9f0;
          }
          
          .remove-btn {
            position: relative;
            margin-left: 1rem;
  
            &::before {
              content: '';
              position: absolute;
              left: 0;
              bottom: -2px;
              transform: scaleX(0);
              width: 100%;
              height: 1px;
              background-color: #F72551;
              transition: transform .2s ease;
            }
        
            &:hover::before {
              transform: scaleX(1);
            }
          }
        }

        .subtotal {
          margin-top: 2rem;
          padding-top: 1rem;
          font-size: .85rem;
          border-top: thin solid #e7edff;
        }
      }
    }
  }

  .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 2rem;
    border-top: thin solid #e7edff;
    background-color: #fff;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: -1rem;
      width: 100%;
      height: 1rem;
      background: linear-gradient(transparent, #fff);
      z-index: 1;
    }

    .subtotal {
      display: flex;
      
      &-items {
        margin-right: 1rem;
      }

      &-items, &-amount {
        strong {
          font-size: 0.9rem;
        }
      }
    }

    .checkout-btn {
      position: relative;
      margin-left: auto;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        transform: scaleX(0);
        width: 100%;
        height: 1px;
        background-color: #F72551;
        transition: transform .2s ease;
      }
  
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}

@media (max-width: 600px) {
  .cart {
    .content {
      padding-bottom: 124px;
    }

    .product-info {

      .product-name {
        margin-bottom: 1rem;
      }

      .options {
      
        input[name="quantity"] {
          margin-bottom: 0.4rem;
        }
      }
    }

    .bottom {
      flex-direction: column;
      justify-content: center;

      .subtotal {
        justify-content: space-between;
        width: 100%;
      }
  
      .checkout-btn {
        margin: 0;
        margin-top: 1.5rem;
        position: relative;
        justify-content: center;
        width: 100%;
        height: 36px;
        color: #fff;
        border: 1px solid #F72551;
        border-radius: 40px;
        background-color: #F72551;

        &::before {
          content: none;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .cart {
    .item-list {
      li {
        .product-info {

          .options {
            .remove-btn {
              margin: 0; 
            }
          }
        }
      }
    }
  }
}