<aside-panel [showPanel]="viewCart" (showPanel)="onClose()">
  <item-loader [isLoading]="isLoading"></item-loader>

  <div class="cart">
    <div 
      *ngIf="!isLoggedin" 
      class="not-loggedin-msg">
      <h3>Please log into your account</h3>
      <a href="/user/login" class="btn-xl-filled">Login</a>
    </div>

    <div 
      *ngIf="isLoggedin && !isLoading && !cartItems?.length" 
      class="empty-cart-msg">
      <h3>Is very lonely in here</h3>
      <a href="/product" class="btn-xl-filled">Start shopping</a>
    </div>

    <div *ngIf="cartItems?.length" class="content">
      <ul #itemList class="item-list">
        <h3 class="title">Shopping Cart</h3>

        <li *ngFor="let item of cartItems">
          <div *ngIf="item.productImage" class="product-image">
            <img image-loader [src]="item.productImage" [alt]="item.productName">
          </div>

          <div class="product-info">
            <a 
              [routerLink]="['/products/', item.productId]" 
              target="_blank" class="product-name">
              {{ item.productName | textClip:80 }}
            </a>  
    
            <div>
              <p class="price">{{ item.price | currency }}</p>
              <p class="stock-label">
                {{ item.totalStock > 0 ? 'In stock' : 'Not in stock' }}
              </p>
            </div>

            <div class="options">
              <label for="quantity">
                Quantity: 
                <input 
                  (change)="quantityChanges(item, $event.target.value)"
                  [value]="item.quantity"
                  name="quantity"
                  id="quantity"
                  type="number" min="1" [max]="item.totalStock">
              </label>

              <button 
                (click)="onRemove(item.productId)"
                class="remove-btn">Remove</button>
            </div>

            <div *ngIf="item.quantity > 1" class="subtotal">
              <p>
                Subtotal (<span>{{ item.quantity }} items</span>):
                <span class="price">
                  {{ item.subtotal | currency }}
                </span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div 
      *ngIf="cartItems?.length && !isLoading" 
      class="bottom">
      <div class="subtotal">
        <span class="subtotal-items">Items: <strong>{{ itemCount | number }}</strong></span>
        <span class="subtotal-amount">Order Total: <strong>{{ subtotal | currency }}</strong></span>
      </div>

      <button 
        (click)="proceedToCheckOut()" 
        class="checkout-btn" type="button">
        Proceed to Checkout
      </button>
    </div>
  </div>
</aside-panel>