<div *ngIf="images && images?.length" class="product-images" >
  <!-- Large screen -->
  <div>
    <div class="preview-l">
      <div #preview 
        *ngFor="let image of altImages; index as index"
        class="preview">
        <img 
          (load)="resizeImagePreviews()"
          (click)="openLightbox(index)"
          image-loader
          [src]="image" 
          alt="Product Image"
          draggable="false">
      </div>
    </div>
  
    <button 
      *ngIf="hasMoreImages"
      (click)="toggleAllImages()" class="btn-xl show-more-btn">
      <i class="material-icons">photo_camera</i>
      <span *ngIf="images.length > altImages.length">Show more</span>
      <span *ngIf="images.length == altImages.length">Show less</span>
    </button>
  </div>
</div>
<lightbox [images]="images"></lightbox>