<div *ngIf="images && images?.length" class="product-images" >
  <!-- Large screen -->
  <div>
    <div class="preview-l">
      <div #preview 
        *ngFor="let image of altImages; index as index"
        class="preview">
        <img 
          (load)="resizeImagePreviews()"
          (click)="openLightbox(index)"
          image-loader
          [src]="image" 
          alt="Product Image"
          draggable="false">
      </div>
    </div>
  
    <button 
      *ngIf="altImages?.length <= 4 && images.length > altImages?.length"
      (click)="altImages = images" class="btn-xl show-more-btn">
      <i class="material-icons">photo_camera</i>
      <span>Show more images</span>
    </button>
  </div>

  <!-- Small Screen -->
  <div class="preview-s-wrapper">
    <ul class="preview-s">
      <li *ngFor="let image of images; index as index" class="slide">
        <img 
          (click)="openLightbox(index)"
          image-loader
          [src]="image" 
          alt="Product Image"
          draggable="false">
      </li>
    </ul>
  </div>
</div>

<lightbox [images]="images"></lightbox>