.product-images {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  background-color: #fff;
  transition: opacity .3s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }

  .preview-l {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 600px) {
      display: flex;  
    }

    .preview {
      height: 484px;
      cursor: pointer;

      @media (max-width: 600px) {
        flex-shrink: 0;
        width: 100%;
        height: 350px;    
        scroll-snap-align: center;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .show-more-btn {
    margin: 2rem auto 0;
    height: 40px;         

    @media (max-width: 600px) {
      display: none;
    }

    .material-icons {
      margin-right: 0.6rem;
      font-size: 1.3rem;
    }
  }
}
