<section class="product-list-section">
  <app-spinner overlayStyle="fixed" [loading]="isloading"></app-spinner>
  
  <ul class="product-list">
    <li #card *ngFor="let product of products">
      <div class="product-image">
        <img 
          image-loader 
          [src]="product.productImage" 
          [alt]="product.productName">
      </div>
      
      <p class="product-name">{{ product.productName }}</p>
    </li>
  </ul>

  <h3 *ngIf="noMoreProducts" class="end-msg">
    No more products
  </h3>

</section>

<span class="spacer" style="display: none; height: 2000px;"></span>