<section class="product-list-section">
  <app-spinner overlayStyle="fixed" [loading]="isloading"></app-spinner>
  
  <ul class="product-list">
    <li #card *ngFor="let product of products">
      <div class="product-image">
        <img 
          image-loader 
          [src]="product.productImage" 
          [alt]="product.productName">
      </div>
      
      <div class="product-info">
        <a [routerLink]="['/product/product-details/', product.productId]" 
          class="product-name" [title]="product.productName">
          {{ product.productName }}
        </a>

        <div>
          <p class="price">{{ product.price | currency }}</p>
          <p class="stock-label">
            {{ product.totalStock > 0 ? 'In stock' : 'Not in stock' }}
          </p>
        </div>
      </div>
    </li>
  </ul>

  <h3 *ngIf="noMoreProducts" class="end-msg">
    No more products
  </h3>
</section>