.product-detail-section {
  width: 100%;
  margin: 5rem 0;
  padding: 0 1.5rem;
  
  .wrapper {
    width: 100%;
    height: auto;
  }  

  .banner {
    background: url('/assets/img/banner-3.jpg') center center/cover;

    @media (max-width: 1200px) {  
      display: none;
    }
  }

  .reloading {
    opacity: 0.3 !important;
    transition: opacity .3s ease;
  }

  .details-container {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #fff;
    overflow: hidden;

    @media (max-width: 1200px) {
      padding: 0;
      flex-direction: column;
    }

    .slider-wrapper {
      width: 65%;

      @media (max-width: 1200px) {
        width: 100%;
      }
    }

    .product-information {
      width: 35%;
      height: inherit;
      padding: 1.5rem;
      background-color: inherit;

      @media (max-width: 1200px) {
        width: 100%;
      }

      .content {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;

        .product-name-price, 
        .category,
        .brand, 
        .price, 
        .stock-label {
          margin-bottom: 1rem;
        }

        .product-name-price {
          display: flex;
          justify-content: space-between;
          width: 100%;
          font-size: 1.1rem;
          line-height: 1.6rem;

          h3 {
            margin-right: 3rem;
          }
        }
  
        .brand {
          span {
            color: #2587f7;
          }
        }

        .stock-label {
          color: #4da861;
          font-size: .8rem;
          
          &.not-in-stock {
            color: #ce8220;
          }
        }         

        .unavailable-message {
          color: #963249;
          font-weight: 500;
        }

        .quantity {
          width: fit-content;
          margin: 3rem auto;  
        }
      }

      .action-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 4rem;

        @media (max-width: 768px) {  
          button {
            width: calc(50% - 0.5rem);       
          }
        }
        
        button {
          transition: all .3s ease;
        }

        .buy-now-btn {
          margin-right: 1rem;          
        }
      }

      .about-product {         
        h3 {
          margin-bottom: 1rem;
        }

        p {
          font-size: .85rem;
          line-height: 1.4rem;
        }
      }
    }
  }
}