<div class="quantity-selector">
  <button 
    (click)="selectQuantity('minus')"
    [disabled]="quantity == 1"
    class="minus-btn">
    <i class="material-icons">remove</i>
  </button>

  <input 
    (change)="onChange(+$event.target.value)"
    [value]="quantity"
    type="number"
    [max]="limit"
    min="1"
    class="quantity"> 

  <button 
    (click)="selectQuantity('plus')"
    [disabled]="quantity == limit"
    class="plus-btn">
    <i class="material-icons">add</i>
  </button>
</div>
