<section class="product-form-section">
  <app-spinner [loading]="isLoading" overlayStyle="fixed"></app-spinner>
  
  <div class="column-s">
    <div class="form-wrapper">
      <button (click)="isVariant = !isVariant" class="variant-button">
        <i *ngIf="!isVariant" class="icon fas fa-toggle-off"></i>
        <i *ngIf="isVariant" class="icon fas fa-toggle-on"></i>
        <span>
          {{ !isVariant ? 'Mark as variant' : 'Unmark as variant' }}
        </span>
      </button>

      <dynamic-form
        #form
        [fields]="fields"
        [enableValidCSS]="true"
        [disableSubmit]="true"
        (onSubmit)="onSubmit($event)"></dynamic-form>
    </div>
  </div>

  <div [formGroup]="form.form" class="column-l">
    <app-image-uploader formControlName="images"></app-image-uploader>
  </div>

</section>
