.product-form-section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 642px;
  margin-top: 3rem;

  .column-s {
    width: calc(400px + 8rem);
    height: inherit;
    padding: 4rem;
    background-color: #fff;
    transition: width .3s ease;

    .form-wrapper {
      transition: width .3s ease;

      .variant-button {
        margin-bottom: 1.5rem;
  
        .icon {
          margin-right: 0.5rem;
          font-size: 1.2rem;
          animation: reveal .3s ease;
        }

        .icon, span {
          color: #2587f7;
        } 
      }
    }
  }

  .column-l {
    position: relative;
    width: calc(100% - 400px);
    height: inherit;
    background-color: #f7f9fd;
    user-select: none;      
  }
}

@media (max-width: 900px) {
  .product-form-section {
    flex-direction: column;

    .column-s, .column-l {
      width: 100%;
      height: auto;
    }

    .column-s {
      padding: 2.5rem;
    }
    
    .form-wrapper {
      width: 400px;
      margin: auto;

      .variant-button {
        margin: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .product-form-section {
  
    .column-s {

      .form-wrapper {
        width: 100%;
      }
    }
  }
}