.product-form-section {
  margin-top: 3rem;

  #productForm {
    position: relative;
    display: flex;
    width: 100%;
    height: 642px;
    font-size: 0.85rem;
    background-color: #fff;
    overflow: hidden;

    .add-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0.4rem;
      color: #fff;
      border: 2px solid #F72551;
      background-color: #F72551;
      transition: opacity .3s ease, 
      background-color .3s ease;

      &:disabled {
        opacity: 0.6 !important;
        cursor: default;
      }

      &::after {
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 6px 25px rgba(248, 96, 129, 0.815);
        transition: opacity .4s ease;
        z-index: 0;
      }

      &:not(:disabled):hover::after {
        opacity: 1;
      }
    }

    .add-btn-2 {
      display: none;
    }

    .column-s {
      width: 400px;
      padding: 4rem;
      background-color: #fff;

      .form-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }
  
        label {
          margin-bottom: 0.3rem;
        } 

        input, textarea, select {
          width: 100%;
          padding: 0.4rem;
          font-size: 0.8rem;
          border: thin solid #f7f9fd;
          background-color: #f7f9fd;
          transition: border-color 0.3s ease;
          
          &:focus {
            border-color: #F72551;
          }
        }

        textarea {
          resize: none;
        }
      }
    }

    .column-l {
      position: relative;
      width: calc(100% - 400px);
      height: inherit;
      background-color: #f7f9fd;
      user-select: none;
    }
  }
}

@media (max-width: 700px) {
  .product-form-section {
    #productForm {
      flex-direction: column;
      height: auto;

      .column-s, .column-l {
        width: 100%;
        height: auto;
      }

      .column-s {
        padding: 1.5rem;
      }
    }

    .add-btn-1 {
      display: none !important;
    }

    .add-btn-2 {
      display: flex !important;
      padding: 1.5rem;
    }
  }
}