<section class="product-form-section">
  <div class="column-s">

    <div class="form-wrapper">
      <dynamic-form
      #form
      [fields]="fields"
      [disableFeedback]="true"
      [disableSubmit]="true"
      (onSubmit)="onSubmit($event)"></dynamic-form>
    </div>

    <!-- <div class="form-group-2">
      <input 
        (change)="isVariant = !isVariant" 
        type="checkbox" id="variant">
      <label for="variant">Mark as product variant</label>
    </div> -->

  </div>


  <!-- <div [formGroup]="form.form" class="column-l">
    <app-image-uploader formControlName="images"></app-image-uploader>
  </div> -->

</section>
