.product-form-section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 642px;
  margin-top: 3rem;
  background-color: #fff;

  .column-s {
    width: calc(400px + 8rem);
    height: inherit;
    padding: 4rem;
    transition: width .3s ease;
    overflow: hidden;

    .form-wrapper {
      margin: auto;
      transition: width .3s ease;

      .variant-button {
        margin-bottom: 1.5rem;
  
        .icon {
          margin-right: 0.5rem;
          font-size: 1.2rem;
          animation: reveal .3s ease;
        }

        .icon, span {
          color: #2587f7;
        } 
      }
    }
  }

  .column-l {
    position: relative;
    flex: 1;
    height: inherit;
    user-select: none;      
  }
}

@media (max-width: 900px) {
  .product-form-section {
    flex-direction: column;

    .column-s, .column-l {
      width: 100%;
      height: auto;
    }

    .column-s {
      padding: 2.5rem;

      .form-wrapper {
        width: 400px;

        .variant-button {
          margin: 0 auto 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .product-form-section {
  
    .column-s {
      .form-wrapper {
        width: 100%;
      }
    }
  }
}