<div class="rating-per-start-graph">
  <div class="star-label-wrapper">
    <div *ngFor="let star of totalStars;" class="star-icon-label">
      <span class="label">{{ star }}</span>
      <i class="material-icons">grade</i>
    </div>
  </div>

  <div class="bars-wrapper">
    <div 
      *ngFor="let star of totalStars;" 
      class="outer-bar">
      <div [style.width.%]="stars[star] | roundNearest:totalRatings:1" class="inner-bar"></div>
    </div>
  </div>

  <div class="star-total-wrapper">
    <span 
      *ngFor="let star of totalStars;"
      class="star-total-reviews">{{ stars[star] }}</span>
  </div>
</div>