<nav class="navbar">
  <div class="wrapper-l navbar-wrapper">
    <a routerLink="/" class="logo" aria-label="Armazon logo">
      <span>A</span>
      <span>rmazon</span>
    </a>
    
    <div class="user-options">
      <button 
        (click)="showSearchbox = true" 
        class="search-btn nav-btn" 
        aria-label="Search"
        type="button">
        <i class="material-icons">search</i>
      </button>

      <button 
        routerLink="/user" 
        class="login-btn nav-btn" 
        type="button"
        aria-label="User profile">
        <i class="material-icons">person</i>
      </button>
  
      <button 
        (click)="openCart()" 
        class="cart-btn nav-btn" 
        type="button"
        aria-label="Shopping bag">
        <i class="fas fa-shopping-bag"></i>
        <div *ngIf="itemCount" class="badge">
          {{ itemCount }}
        </div>
      </button>
    </div>
  </div>
</nav>
<search-bar
  [showSearchbox]="showSearchbox"
  (showSearchbox)="showSearchbox = $event"></search-bar>