<nav class="navbar">
  <div class="wrapper-l navbar-wrapper">
    <a routerLink="/" class="logo">
      <span>A</span>
      <span>rmazon</span>
    </a>
    
    <div class="user-options">
      <button (click)="showSearchbox = true" class="search-btn nav-btn" type="button">
        <i class="material-icons">search</i>
      </button>

      <button routerLink="/user" class="login-btn nav-btn" type="button">
        <i class="material-icons">person</i>
      </button>
  
      <button (click)="openCart()" class="cart-btn nav-btn" type="button">
        <i class="fas fa-shopping-bag"></i>
        <span *ngIf="itemCount" class="badge">
          {{ itemCount }}
        </span>
      </button>
    </div>
  </div>
</nav>
<search-bar
  [showSearchbox]="showSearchbox"
  (showSearchbox)="showSearchbox = $event"></search-bar>