.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 20px rgba(190, 190, 190, 0.2);
  z-index: 100;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: auto;
  }

  .logo {
    display: flex;
    align-items: center;
    letter-spacing: 0.1rem;
    user-select: none;
    overflow: hidden;

    span:first-of-type {
      margin-right: 0.5rem;
      color: #F72551;
      font-size: 2.5rem;
      font-weight: 300;
      border-radius: 100px;
    }

    span:last-of-type {
      color: #000;
      padding: 0.1rem 0.7rem;
      font-size: 1rem;
      border-left: thin solid #ce9b9b;
    }
  }

  .user-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-btn {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }

      .material-icons {
        color: #7a8196;
        transition: color .3s ease;
      }
  
      &:hover {
        .material-icons {
          color: darken(#7a8196, 15);
        }
      }
    }
  
    .search-btn {
  
    }
    
    .cart-btn {
      position: relative;
    
      .badge {
        position: absolute;
        right: -15px;
        top: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 20px;
        padding: 0.3rem;
        height: 20px;
        border-radius: 30px;
        color: #fff;
        font-size: .8rem;
        white-space: nowrap;
        background-color: #2587f7;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        animation: reveal 0.4s ease;
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 1300px) {
  .navbar {  
    &-wrapper {
      padding: 0 1rem;
    }
  }
}