<app-spinner [loading]="isLoading" overlayStyle="fixed"></app-spinner>

<section  class="product-detail-section">
  <div class="wrapper">
    <div class="banner"></div>

    <div 
      [style.visibility]="isLoading ? 'hidden' : 'visible'" 
      class="details-container">
      <div class="slider-wrapper" [class.reloading]="reolading">
        <app-slider></app-slider>
      </div>
  
      <div class="product-information">  
        <div class="content">
          <div [class.reloading]="reolading">
            <h3 class="product-name">{{ product?.productName }}</h3>
            <p class="brand">By: <span>{{ product?.brand }}</span></p> 
            <p class="price">
              Price: <strong>{{ product?.price | currency }}</strong>
            </p>

            <div [ngSwitch]="product?.available" >
              <div *ngSwitchCase="false">
                <p class="unavailable-message">Currently unavailable</p>
              </div>
              <div *ngSwitchDefault>
                <p 
                  class="stock-label"
                  [class.not-in-stock]="!product?.totalStock">
                  {{ product?.totalStock > 0 ? 'In stock' : 'Not in stock' }}
                </p>   
              </div>
            </div>    
          </div>

          <variant-section 
            [variants]="variants"
            (variantId)="updateProductInfo($event)"></variant-section>
        </div>
  
        <div class="action-buttons">
          <button             
            (click)="onBuyNow(product?.productId)"            
            [disabled]="!product?.available"
            type="button" 
            class="buy-now-btn">Buy Now</button>
  
          <button 
            (click)="onAddToCart(product?.productId)"
            [disabled]="!product?.available || !product?.totalStock"
            type="button" 
            class="add-to-cart-btn">
            <i class="material-icons">add_shopping_cart</i>
            <span>Add to cart</span>
          </button>
        </div>
  
        <div class="about-product" [class.reloading]="reolading">
          <h3>About this item:</h3>          
          <p [innerHTML]="product?.productDesc"></p>
        </div>
      </div>
    </div>

  </div>
</section>
