<app-spinner [loading]="isLoading" overlayStyle="fixed"></app-spinner>

<section *ngIf="!isLoading" class="product-detail-section">
  <div class="wrapper">
    <div class="banner">
      <div class="banner-text">
        <h3>New savings of up to 50% on Armazon Choice products</h3>
      </div>
    </div>

    <div class="details-container">
      <div class="product-images">
        <div class="preview">
          <img 
            [src]="product.images[activePreview]" 
            [alt]="product.productName"
            draggable="false">
        </div>
  
        <div class="thumbnail-wrapper">
          <button 
            (click)="onNavBtnClick('before')"
            #navButton class="nav-btns nav-left" disabled>
            <i class="material-icons">arrow_left</i>
          </button>
  
          <ul #thumbnailList class="thumbnail-list">        
            <li 
              (mouseover)="activePreview = index"
              *ngFor="let thumbnail of product.images; index as index" 
              class="thumbnail"
              [class.active]="activePreview == index">

              <img 
                [src]="thumbnail" 
                [alt]="product.productName"
                draggable="false">
            </li>
          </ul>
  
          <button 
            (click)="onNavBtnClick('next')"
            #navButton class="nav-btns nav-right">
            <i class="material-icons">arrow_right</i>
          </button>
        </div>
      </div>
  
      <div class="product-information">  
        <div class="content">
          <h3 class="product-name">{{ product.productName }}</h3>
          <p class="brand">By <span>{{ product.brand }}</span></p> 
          <p class="price">
            Price: <strong>{{ product.price | currency }}</strong>
          </p>

          <div [ngSwitch]="product.available">
            <div *ngSwitchCase="false">
              <p class="unavailable-message">Currently unavailable</p>
            </div>
            <div *ngSwitchDefault>
              <p 
                class="stock-label"
                [class.not-in-stock]="!product.totalStock">
                {{ product.totalStock > 0 ? 'In stock' : 'Not in stock' }}
              </p>   
            </div>
          </div>     
           
          <variant-section></variant-section>
        </div>
  
        <div class="action-buttons">
          <button 
            (click)="onBuyNow(product.productId)"
            type="button" class="buy-now-btn">Buy Now</button>
  
          <button 
            (click)="onAddToCart(product.productId)"
            type="button" class="add-to-cart-btn">
            <i class="material-icons">add_shopping_cart</i>
            <span>Add to cart</span>
          </button>
        </div>
  
        <div class="description">          
          <p [innerHTML]="product.productDesc"></p>
        </div>
      </div>
    </div>

  </div>
</section>
