@mixin ease-gradient($deg) {
  background: linear-gradient(
    $deg,
    hsl(347, 56%, 78%) 0%,
    hsla(347, 56%, 78%, 0.738) 19%,
    hsla(347, 56%, 78%, 0.541) 34%,
    hsla(347, 56%, 78%, 0.382) 47%,
    hsla(347, 56%, 78%, 0.278) 56.5%,
    hsla(347, 56%, 78%, 0.194) 65%,
    hsla(347, 56%, 78%, 0.126) 73%,
    hsla(347, 56%, 78%, 0.075) 80.2%,
    hsla(347, 56%, 78%, 0.042) 86.1%,
    hsla(347, 56%, 78%, 0.021) 91%,
    hsla(347, 56%, 78%, 0.008) 95.2%,
    hsla(347, 56%, 78%, 0.002) 98.2%,
    hsla(347, 56%, 78%, 0) 100%
  );
}

.product-detail-section {
  width: 100%;
  margin: 2rem 0;
  padding: 70px 1rem 0;
  
  .wrapper {
    width: 100%;
    height: auto;
  }  

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/img/banner-3.webp') center center/cover;

    h3 {
      color: #222;
      line-height: 4rem;
      text-align: center;
      text-shadow: none;
    }
  }

  .details-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;

    .product-images {
      width: 50%;
      height: auto;
      padding: 1.5rem;
      background-color: #fff;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
      }

      .preview {
        width: 100%;
        height: 600px;
        padding: 0.2rem;
        border: 1px solid #e7edff;
        border-radius: 2px;
        overflow: hidden;
      }

      .thumbnail-wrapper {        
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 1.5rem;
        border-radius: 2px;
        overflow: hidden;

        .nav-btns {
          position: absolute;
          top: 0;
          padding: 0 0.5rem;
          height: 100%;
          transition: opacity .4s ease;
          z-index: 1;                  

          .material-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            color: #F72551;
            border-radius: 40px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease,
            transform 0.3s ease;
          }

          &.nav-left {
            left: 0;
            @include ease-gradient(90deg);

            &:hover {
              .material-icons {
                transform: translateX(2px);
                background-color: #f6f8ff; 
              }
            }
          }

          &.nav-right {
            right: 0;
            @include ease-gradient(-90deg);

            &:hover {
              .material-icons {
                transform: translateX(-2px);
                background-color: #f6f8ff; 
              }
            }
          }     
          
          &:disabled {
            pointer-events: none;
            opacity: 0;
          }
        }
      }

      .thumbnail-list {
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 2px;
        overflow: hidden;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
          display: none;
        }

        .thumbnail {          
          flex-shrink: 0;
          width: 130px;
          height: 100px;        
          padding: 0.1rem;
          margin-right: 0.5rem;
          border: 1px solid #e7edff;
          border-radius: 2px;
          scroll-snap-align: center;
          transition: border-color 0.4s ease,
          background-color 0.4s ease;
          overflow: hidden;
          
          &.active {
            position: relative;
            border-color: rgba(248, 96, 129, 0.815);
          
            &::after {              
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.4);
            }
          }
        }        
      }
    }

    .product-information {
      width: 50%;
      height: inherit;
      padding: 1.5rem;
      background-color: inherit;

      .column {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;

        .product-name, 
        .brand, 
        .price, 
        .stock-label {
          margin-bottom: 1rem;
        }

        .product-name {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
  
        .brand {
          span {
            color: #2587f7;
          }
        }
  
        .price {
          font-size: 1rem;
        }
  
        .stock-label {
          color: #4da861;
        }         
      }

      .action-buttons {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;

        button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 170px;
          height: 36px;          
          border-radius: 4px;
          border: 1px solid #F72551; 
          overflow: hidden;         

          &::after {
            content: '';
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            transition: opacity .4s ease;            
          }

          &:hover::after {
            opacity: 1;
          }
        }

        .buy-now-btn {
          margin-right: 1rem;
          color: #fff;
          background-color: #F72551;
        }

        .add-to-cart-btn {          
          background-color: #fff;  

          .material-icons {
            margin-right: 0.5rem;
            font-size: 1.3rem;
          }
        }
      }

      .description {         
        h3 {
          margin-bottom: 0.3rem;
        }

        p {
          color: #6a6c77;
          line-height: 1.4rem;
        }
      }
    }
  }
}