<section class="login-section">
  <div class="quick-store-info-column">
    <div class="cover-image">
      <img image-loader src="assets/img/login-form.webp" draggable="false">
    </div>

    <div class="top-content">
      <button routerLink="/" class="return-btn" type="button">
        <i class="material-icons">navigate_before</i>
      </button>

      <a class="logo">
        <span>A</span>
        <span>rmazon</span>
      </a>
    </div>

    <div class="middle-content">
      <h3>Log in to your Armazon account</h3>
    </div>

    <div class="bottom-content">
      <p>
        Armazon.do - <a href="#">Cookie Policy</a> and 
        <a href="#">Privacy Policy</a>
      </p>
      <p>&copy; Armazon by Adison P. Martínez 2019-{{ currentYear }}</p>
    </div>
  </div>

  <div class="login-form-column">
    <form 
      [formGroup]="loginForm" 
      (ngSubmit)="onSubmit()" 
      id="loginForm">
      <div class="form-group">
        <div class="form-group-wrapper">
          <input formControlName="username" type="text">
          <label [class.shrink]="username.valid">
            Username or email address
          </label>
        </div>

        <div 
          *ngIf="username.touched && username.invalid &&
          !loginState?.error.username"
          class="invalid-feedback">
          <p *ngIf="username?.errors.required">
            Enter your username or email
          </p>
        </div>

        <div 
          *ngIf="username.touched && loginState?.error.username" 
          class="invalid-feedback">
          <p>{{ loginState?.message }}</p>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-wrapper">
          <input formControlName="password" 
            [type]="!showPassword ? 'password' : 'text'">
          <label [class.shrink]="password.valid">Password</label>

          <button 
            (click)="showPassword = !showPassword"
            class="toggle_password_visibility"
            type="button">
            <i *ngIf="!showPassword" class="material-icons">visibility</i>
            <i *ngIf="showPassword" class="material-icons">visibility_off</i>
          </button>
        </div>

        <div 
          *ngIf="password.touched && password?.errors &&
          !loginState?.error.password"
          class="invalid-feedback">
          <p *ngIf="password?.errors.required">
            Enter your password
          </p>
        </div>

        <div 
          *ngIf="password.touched && loginState?.error.password" 
          class="invalid-feedback">
          <p>{{ loginState?.message }}</p>
        </div>
      </div>
  
      <div class="action-buttons">
        <button class="btn-xl-filled login-btn">Log In</button>
        <button 
          routerLink="../signup" 
          class="btn-xl signup-btn">Create Account</button>
      </div>
    </form>
  </div>

  <app-spinner [loading]="isLoading"></app-spinner>
</section>