<div class="container">
  <div class="top-area">
    <h3>Attach product images</h3>
  </div>

  <div class="scrollable-area">
    <ul class="preview-list" [class.alternate]="images.length > 1">
      <li #previewEle *ngFor="let preview of images" class="preview">
        <img [src]="getImageUrl(preview)" draggable="false">

        <div (click)="onRemove(preview, previewEle)" class="remove-overlay">
          <i class="material-icons">close</i>
        </div>
      </li>

      <label *ngIf="images.length < 20" class="image-selector">
        <input type="file" multiple>
        <i class="material-icons">add_photo_alternate</i>
      </label>
    </ul>
  </div>
</div>