<div class="container">
  <h3>Attach product images</h3>

  <div class="scrollable-area">
    <ul class="preview-list" [class.alternate]="files.length > 3">
      <li #previewEle *ngFor="let preview of files" class="preview">
        <img [src]="getImageUrl(preview)" draggable="false">

        <div (click)="onRemove(preview, previewEle)" class="remove-overlay">
          <i class="material-icons">close</i>
        </div>
      </li>

      <label class="image-selector">
        <input type="file" multiple>
        <i class="material-icons">add_photo_alternate</i>
      </label>
    </ul>
  </div>
</div>