.container {
  position: relative;
  width: 100%;
  height: inherit;
  overflow: hidden;

  h3 {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 10;
  }

  .scrollable-area {
    width: 100%;
    height: 642px;
    padding: 6rem 2rem 2rem;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;        

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .preview-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    gap: 1rem;
    width: 100%;
    height: auto;       

    &.alternate {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  .image-selector, .preview {
    height: 120px;
    border: thin solid #e3e6ec;
  }

  .image-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e6e9f0;
    }
    
    .material-icons {
      font-size: 1.5rem;
    }

    input {
      display: none;
    }
  }

  .preview {
    position: relative;
    background-color: #fff;
    animation: fileAdded 0.3s ease;
    overflow: hidden;

    &.removed {
      animation: fileRemoved 0.3s ease forwards;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }

    .remove-overlay {
      opacity: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(248, 96, 129, 0.6);
      transition: opacity .3s ease;
      cursor: pointer;

      .material-icons {
        color: #fff;
      }
    }

    &:hover {
      .remove-overlay {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    height: 642px;
    // height: auto;
  
    .preview-list {
      grid-template-columns: repeat(4, 1fr);

      &.alternate {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
  
    .preview-list {
      grid-template-columns: repeat(3, 1fr);

      .preview, .image-selector {
        height: 100px;
      }

      &.alternate {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}