<aside-panel [showPanel]="viewRatings" (showPanel)="viewRatings = $event">
  <div #container class="rating-container">
    <div *ngIf="isLoading" class="spinner-spacer">
      <app-spinner [loading]="isLoading"></app-spinner>
    </div>

    <div class="top">
      <h3 class="title">Rating & Reviews</h3>
      <p class="rating">{{ rating.overall | number:'1.1-1' }}</p>

      <star-rating 
        [readonly]="true" 
        [overall]="rating.overall"
        [totalReviews]="rating.totalReviews"></star-rating>
    </div>

    <div *ngIf="!isLoading && rating.totalReviews" class="content">    
      <button 
        (click)="writeReview()"
        class="submit-new-btn">Write a Review</button>

      <rating-graph [userRating]="userRating"></rating-graph>

      <div [class.reloading]="reloading">
        <review-section [reviews]="reviews"></review-section>
      </div>
    </div>

    <div *ngIf="!isLoading && rating.totalReviews" class="bottom">
      <pagination-cntrls
        [totalReviews]="rating.totalReviews"
        [itemPerPage]="rowcount"
        (currentPage)="onReviewPageChange($event)"></pagination-cntrls>
    </div>
  </div>
</aside-panel>

<review-form></review-form>