<aside-panel [showPanel]="viewRatings" (showPanel)="viewRatings = $event">
  <app-spinner [loading]="isLoading"></app-spinner>

  <div class="rating-container">
    <div class="top">
      <h3 class="title">Rating & Reviews</h3>
     
        <h3 class="rating">{{ rating.overall | number:'1.1-1' }}</h3>

        <star-rating 
          [readonly]="true"
          [overall]="rating.overall"></star-rating>

        <rating-graph *ngIf="!isLoading"></rating-graph>
    </div>

    <!-- | date:'EEEE - MMMM dd y' -->

    <section *ngIf="!isLoading" class="reviews">

    </section>
  </div>

</aside-panel>