<aside-panel [showPanel]="viewRatings" (showPanel)="viewRatings = $event">

  <div class="rating-container">
    <div class="top">
      <h3 class="title">Rating & Reviews</h3>
     
      <p class="rating">{{ rating.overall | number:'1.1-1' }}</p>

      <star-rating 
        [readonly]="true" 
        [overall]="rating.overall"
        [totalReviews]="rating.totalReviews"></star-rating>
    </div>

    <div *ngIf="isLoading" class="spinner-spacer">
      <app-spinner [loading]="isLoading"></app-spinner>
    </div>

    <div *ngIf="!isLoading" class="content">    
      <button class="submit-new-btn" type="button">
        Write a Review
      </button>

      <rating-graph></rating-graph>

      <review-section [reviews]="reviews"></review-section>
    </div>
  </div>

</aside-panel>