.rating-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem 7rem;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .reloading {
    opacity: 0.3 !important;
    transition: opacity .3s ease;
  }

  .title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }

  .rating {
    margin-bottom: 0.5rem;
    font-size: 2.2rem;
    font-weight: 400;
  }

  .submit-new-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;     
    margin: 3rem auto 3rem;     
    font-size: .85rem;
    border: 1px solid #c7cad8; 
    border-radius: 60px;
    background-color: #fff;          
    transition: background-color .4s ease;
    overflow: hidden;        
    
    &:disabled {
      opacity: 0.6 !important;
      cursor: default;
    }       

    &:hover {
      background-color: #e6e9f0; 
    }
  }

  .content {
    position: relative;
    width: 100%;
    animation: reveal .4s ease;
  }

  .bottom {
    margin-top: auto;
    user-select: none;
  }
}
