<section class="container">
  <div class="background">
    <img 
      image-loader 
      src="assets/img/404-background.webp"
      draggable="false">
  </div>

  <div class="content">
    <span class="logo">
      <span>A</span>
      <span>rmazon</span>
    </span>

    <h1>404 - Page not found</h1>

    <button routerLink="/" class="btn-xl">Go to home</button>
  </div>

  <div class="bottom-content">
    <p>
      Armazon.do - <a href="#">Cookie Policy</a> and 
      <a href="#">Privacy Policy</a>
    </p>
    <p>
      &copy; Armazon by Adison P. Martínez 2019-{{ currentYear }}
      
      <i class="fab fa-github"></i>
    </p>
  </div>
</section>
