<div class="variant-wrapper">
  <div class="variant-option">
    <h3>Color:</h3>

    <div class="option-flex">

      <div class="option-icon">
        <img src="https://images-na.ssl-images-amazon.com/images/I/4193vZldXVL._SS36_.jpg">
        <span>White</span>
      </div>

      <div class="option-icon">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41VdOpdCX4L._SS36_.jpg">
        <span>Black</span>
      </div>

      <div class="option-icon">
        <img src="https://images-na.ssl-images-amazon.com/images/I/419PMmp5u8L._SS36_.jpg">
        <span>Black/Red</span>
      </div>
    </div>
  </div>

  <div class="variant-option">
    <h3>Size:</h3>

    <div class="option-flex">

      <div class="option-icon">       
        <span>1TB</span>
      </div>

      <div class="option-icon">        
        <span>512GB</span>
      </div>

      <div class="option-icon">       
        <span>256GB</span>
      </div>

      <div class="option-icon">        
        <span>128GB</span>
      </div>
    </div>
  </div>
</div>