<div class="variant-wrapper">
  <section *ngIf="colorVariants?.length" class="variant-option color">
    <h3>Color:</h3>

    <div class="option-flex">
      <button 
        *ngFor="let variant of colorVariants;"
        class="option-icon-l">
        <img [src]="variant.iconUrl" draggable="false">
        <span>{{ variant.optionValue }}</span>
      </button>
    </div>
  </section>

  <section *ngIf="sizeVariants?.length" class="variant-option size">
    <h3>Size:</h3>

    <button 
      *ngFor="let variant of sizeVariants;"
      class="option-icon">
      <span>{{ variant.optionValue }}</span>
    </button>
  </section>

  <section *ngIf="styleVariants?.length" class="variant-option style">
    <h3>Style:</h3>

    <button 
      *ngFor="let variant of styleVariants;"
      class="option-icon">
      <span>{{ variant.optionValue }}</span>
    </button>
  </section>

  <section *ngIf="modelVariants?.length" class="variant-option model">
    <h3>Style:</h3>

    <button 
      *ngFor="let variant of modelVariants;"
      class="option-icon">
      <span>{{ variant.optionValue }}</span>
    </button>
  </section>

  <section *ngIf="configurationVariants?.length" class="variant-option configuration">
    <h3>Style:</h3>

    <button 
      *ngFor="let variant of configurationVariants;"
      class="option-icon">
      <span>{{ variant.optionValue }}</span>
    </button>
  </section>

  <section *ngIf="capacityVariants?.length" class="variant-option configuration">
    <h3>Style:</h3>

    <button 
      *ngFor="let variant of capacityVariants;"
      class="option-icon">
      <span>{{ variant.optionValue }}</span>
    </button>
  </section>
</div>