<div *ngIf="fields">
  <form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()" 
    id="dynamicForm">

    <div 
      *ngFor="let field of fields"
      [ngSwitch]="field?.fieldType" 
      class="form-group">

      <div *ngSwitchCase="'file'"></div>

      <div *ngSwitchCase="'none'"></div>

      <dynamic-dropdown
        *ngSwitchCase="'dropdown'"
        [field]="field"></dynamic-dropdown>

      <dynamic-textarea
        *ngSwitchCase="'textarea'"
        [field]="field"></dynamic-textarea>

      <dynamic-text-field
        *ngSwitchDefault
        [field]="field"></dynamic-text-field>

      <input-feedback 
        *ngIf="!disableFeedback"
        [field]="field"></input-feedback>
    </div>

    <div class="action-buttons">
      <button 
        [disabled]="disableSubmit && form.invalid"
        class="btn-xl-filled submit-btn">
        Submit
      </button>
    </div>
  </form>
</div>