<div *ngIf="form && fields">
  <form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()" 
    id="dynamicForm">

    <div *ngFor="let field of fields">
      <div [ngSwitch]="field.fieldType" class="form-group">
        <dropdown 
        *ngSwitchCase="'select'" 
        [form]="form" 
        [field]="field"
        [specialFeedback]="specialFeedback"></dropdown>

        <text-field 
        *ngSwitchDefault 
        [form]="form" 
        [field]="field"
        [specialFeedback]="specialFeedback"></text-field>

      </div>
    </div>

    <div class="action-buttons">
      <button 
        class="btn-xl-filled submit-btn">
        Submit
      </button>
    </div>
  </form>
</div>