<div *ngIf="form && fields">
  <form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()" 
    id="dynamicForm">

    <!-- <form-control [form]="form" [fields]="fields"></form-control> -->

    <div *ngFor="let field of fields">
      <div [ngSwitch]="field.fieldType">
        <dropdown *ngSwitchCase="'select'" 
        [form]="form" [field]="field"></dropdown>

        <text-field *ngSwitchDefault 
        [form]="form" [field]="field"></text-field>
      </div>
    </div>

    <div class="action-buttons">
      <button 
        class="btn-xl-filled submit-btn">
        Submit
      </button>
    </div>
  </form>
</div>