#dynamicForm {
  max-width: 600px; // temp
  padding: 5rem; // temp
  margin: 5rem auto; // temp
  background-color: #fff;

  .form-group {
    position: relative;
    width: 100%;
    height: auto;

    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 0 0;

      input, select, textarea {
        position: relative;
        width: 100%;
        padding: 0.25rem 0;
        border-bottom: thin solid #c7cad8;
        transition: background-color .4s ease,
        border-color .4s ease;
        z-index: 1;
        
        &:focus {
          border-color: #F72551;

          & + label {
            top: 0;
            font-size: 0.75rem;
          }
        }

        &.valid {
          border-color: #26c45b;
        }

        &.invalid {
          border-color: #ff2d2d;
        }
      }

      label {
        position: absolute;
        left: 0;
        top: calc(100% - 0.9rem - 1px - 0.5rem);
        font-size: 0.95rem;
        transition: 0.2s ease;
        user-select: none;

        &.shrink {
          top: 0;
          font-size: 0.75rem;
        }
      } 

      .toggle_password_visibility {
        position: absolute;
        top: 1rem;
        right: 0;
        width: 50px;
        height: calc(100% - 17px);
        background: linear-gradient(90deg, transparent, #fff 40%);
        z-index: 5;

        .material-icons {
          margin-left: auto;
          font-size: 1.3rem;
        }
      }
      
      .loader {
        position: absolute;
        top: 1rem;
        right: 0;
        height: calc(100% - 17px);
        display: flex;         
        align-items: center; 
        animation: reveal .3s ease;
        z-index: 100;

        span {
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 20px;
          background-color: #F72551;
          animation: bounce 1.3s linear infinite;

          &:not(:last-of-type) {
            margin-right: 0.2rem;
          }

          &:nth-child(2) {
            animation-delay: -1s;
          }
      
          &:nth-child(3) {
            animation-delay: -0.7s;
          }
        }
      }
    }   
    
    .invalid-feedback {
      position: absolute;
      left: 0;
      bottom: -1.2rem;
      display: block;
      width: 100%;
      animation: slideUp 0.2s ease;

      p {
        color: #ff2d2d;
        font-size: 0.8rem;
      }
    }

    .valid-feedback {
      @extend .invalid-feedback;

      p {
        display: flex;
        align-items: center;
        color: #26c45b;

        .material-icons {
          margin-left: 0.2rem;
          color: inherit;
          font-size: 0.8rem;
        }
      }
    }
  }

  .action-buttons {
    width: 100%;
    margin-top: 3rem;
    
    .submit-btn {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
}