.products-section {
  margin: 4rem 0;

  .products {
    width: 100%;

    li {
      display: flex;
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      .product-image {
        
      }

      .product-info {

      }
    }
  }
}