.products-section {
  margin: 4rem 0;

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;

    li {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1.5rem;
      background-color: #fff;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      .product-image {
        width: 100px;
        height: 100px;
        background-color: #fff;

        img {
          height: 100%;
          object-fit: contain;
          object-position: center center;
        }
      }

      .product-info {

      }
    }
  }
}