.products-section {
  margin: 2rem 0;
  padding: 70px 1.5rem 0;
  animation: reveal .4s ease;
  
  .banner {
    background: url('/assets/img/banner-2.webp') center center/cover;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1.5rem;
      background-color: #fff;
      overflow: hidden;

      .product-image {
        display: block;
        width: 100%;
        height: 180px;
        background-color: #fff;

        img {
          height: 100%;
          object-fit: contain;
          object-position: center center;
        }
      }

      .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top: 1.5rem;
        background-color: #fff;
        overflow: hidden;

        .product-name {
          display: block;
          margin-bottom: 0.5rem;
          color: #2587f7;
          font-weight: 500;
          line-height: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: color 0.3s ease;

          &:hover {
            color: #66a6ff;
          }
        }

        .price {
          margin-bottom: 0.5rem;
          font-size: 0.95rem;
          font-weight: 600;
        }

        .stock-label {
          margin-bottom: 1rem;
          color: #4da861;
          font-size: .8rem;
        }
      }

      .action-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;        
        margin-top: 1.5rem;

        .add-to-cart-btn {
          margin-left: auto;
          
          .material-icons {
            color: #F72551;
            font-size: 1.4rem;
            transition: color .4s ease;
          }

          &:hover {
            .material-icons {
              color: darken(#F72551, 5);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .products-section {
    .banner {
      .banner-text {
        width: 100%;

        h3 {
          line-height: 3.5rem;        
        }
  
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}