.lightbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 87.19px;

  .top-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;

    &:hover {
      .nav-button {
        opacity: 1;
      }
    }

    .nav-button {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 35px;
      height: 35px;
      justify-content: center;
      border-radius: 100%;
      background-color: rgba(230, 233, 240, 0.623);     
      transition: background-color .4s ease, 
      opacity .3s ease;
      overflow: hidden;
      z-index: 3;

      &:disabled {
        opacity: 0;
      }

      .material-icons {
        color: #7a8196;
      }

      &:hover {
        background-color: #c7cad8; 
      }
    }

    .before {
      left: 2rem;
    }

    .after {
      right: 2rem;
    }
  }
  
  .image-container {
    display: flex;
    width: 100%;
    height: inherit;
    padding-bottom: 2rem;
    margin: auto; 
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .slide {          
      flex-shrink: 0;
      width: 100%;
      height: inherit;    
      scroll-snap-align: center;      

      .slide-image-frame {
        position: relative;
        max-width: 900px;
        height: inherit;
        margin: auto;
        overflow: hidden;
        cursor: zoom-in;

        img {
          position: relative;
          width: 100%;
          height: 100%;          
          object-fit: contain;
          transition: transform 0.3s ease;
        }

        &.zoomed-in {
          max-width: 1200px;
          padding: 2rem;
          cursor: zoom-out;

          img {
            transform: scale(2);
          }
        }
      }
    }        
  }

  .bottom-content {
    flex-shrink: 0;
    width: 100%;
    height: 80px;
    margin-top: auto;
    padding: 0 5rem;
    background-color: #fff;

    .range-clickable-area {
      width: 100%;
      padding: 0.65rem 0;
      cursor: pointer;
    }

    .range {
      position: relative;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #c7cad8;
      overflow: hidden;

      .current-image-indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-radius: 4px;
        background-color: #F72551;
        transition: transform 0s linear;
      }
    }
  } 
}

@media (max-width: 768px) {
  .lightbox {

    .top-content {
      
      .nav-button {
        .before {
          left: 1rem;
        }
    
        .after {
          right: 1rem;
        }
      }

      .image-container {
        scroll-behavior: smooth;

        .slide {

          .slide-image-frame {
            cursor: default;

            img {
              width: 100%;
            }
          }          
        }
      }
    }

    .bottom-content {
      padding: 0 4rem;

      .range {

        .indicator {
          transition: transform .4s ease;
        }
      }
    } 
  }
}