<app-modal [showModal]="openLightbox" (showModal)="onClose()">
  <div *ngIf="images?.length" class="lightbox">
    <div class="top-content">
      <button 
        (click)="onNavButtonClick('previous')"
        [disabled]="currentImage == 0 || tempDisabled"
        class="nav-button before"
        aria-label="Previous image">
        <i class="material-icons">navigate_before</i>
      </button>

      <button 
        (click)="onNavButtonClick('next')"
        [disabled]="currentImage == images.length - 1 || tempDisabled"
        class="nav-button after"
        aria-label="Next image">
        <i class="material-icons">navigate_next</i>
      </button>

      <ul 
        (scroll)="onScroll()" 
        #imageContainer 
        class="image-container">        
        <li #slide *ngFor="let image of images" class="slide">
          <div 
            (mousemove)="onMouseMove($event)" 
            class="slide-image-frame" 
            [class.zoomed-in]="viewFullImage">
            <img 
              (click)="viewFullImage = !viewFullImage"
              [src]="image" 
              alt="Product Image">
          </div>
        </li>
      </ul>
    </div>
    
    <div class="bottom-content">
      <button 
        (click)="onRangeClick($event)" 
        class="range-clickable-area"
        aria-label="Image scroller">
        <div class="range">
          <span 
            #rangeIndicator
            [style.width.%]="100 / images.length" 
            class="current-image-indicator"></span>
        </div>
      </button>
    </div>
  </div>
</app-modal>