.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: auto;
  height: auto;
  background-color: #fff;
  transition: width .3s ease, height .3s ease;
  animation: zoomIn .2s ease;
  overflow: hidden;

  @media (max-width: 600px) {
    width: 100% !important;
    height: 100% !important;
  }
  
  .top {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 10;

    .close-btn {
      margin-left: auto;
    }
  }
}