.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 90vh;
  background-color: #fff;

  .top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
  
    .close-btn {
      margin-left: auto;
      padding: 0.6rem;
      border-radius: 40px;
      transition: background-color .4s ease;
  
      .material-icons {
        color: #7a8196;
        font-size: 1.3rem;
        transition: color .4s ease;
      }
  
      &:hover {
        .material-icons {
          color: darken(#7a8196, 15);
        }
        background-color: #e6e9f0;
      }
    }
  }
}