.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &.isSrchArea {
    display: block !important;
    justify-content: unset;
    align-items: unset;
    overflow: hidden;
    overflow-y: auto;
  }
}

.modal {
  position: relative;
  width: auto;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  transition: width .3s ease, height .3s ease;
  animation: zoomIn .2s ease;
  overflow: hidden;

  @media (max-width: 600px) {
    width: 100% !important;
    height: 100% !important;
  }

  &.isSrchArea {
    width: 100%;
    height: unset;
    min-height: 250px;
    transform: scaleY(0);
    transform-origin: top;
    animation: grow .3s ease forwards;

    @media (max-width: 600px) {
      height: unset !important;
      min-height: 250px !important;
    }
  }

  .top {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 10;

    .close-btn {
      margin-left: auto;
    }
  }
}