<app-modal 
  [width]="'60vw'"
  [height]="'auto'"
  [showModal]="showForm" 
  (showModal)="onClose()">
  <div class="container" [class.review-submitted]="reviewSubmitted">
    <app-spinner [loading]="isLoading"></app-spinner>

    <div *ngIf="!isLoading && !reviewSubmitted" class="scrollable-area">
      <div class="product-details">
        <div class="product-image">
          <img image-loader [src]="product?.images[0]" [alt]="product.productName">    
        </div>
  
        <h3 class="product-name">{{ product.productName }}</h3>
      </div>

      <div *ngIf="userReviewExists" class="error-feedback">
        <p>You already reviewed this item</p>
      </div>

      <div *ngIf="!userReviewExists" class="form-wrapper">
        <div class="form-group">
          <label>Overall rating</label>
          <star-rating             
            [newRating]="true"
            [overall]="form.form?.get('rating').value"
            (selectedRating)="form.form.get('rating').setValue($event)"
            [class.read-only]="userReviewExists"></star-rating>
        </div>
  
        <dynamic-form
          #form
          [fields]="fields"
          submitBtnLabel="Submit review"
          [disableFeedback]="true"
          [submitOnInvalid]="false"
          (onSubmit)="onSubmit($event)"></dynamic-form>
      </div>
    </div>

    <div *ngIf="reviewSubmitted" class="success-msg">
      <h3>Thank you for your review!</h3>

      <div class="icon">
        <i class="material-icons">done</i>
      </div>
    </div>
  </div>
</app-modal>