<div class="overlay">
  <section  
    [@showCart]="(viewCart | async) ? 'open' : 'close'"
    class="cart-container">
    <div class="top">
      <p>Your items</p>

      <button 
        (click)="onClose()" 
        type="button" class="close-btn" title="Close">
        <i class="material-icons">close</i>
      </button>
    </div>

    <div class="content">
      <ul class="item-list">
        <li *ngFor="let product of cartItems">
          <div *ngIf="product.productImage" class="product-image">
            <img [src]="product.productImage" [alt]="product.productName">
          </div>

          <div class="product-info">
            <a href="#" class="product-name" [title]="product.productName">
              {{ textClipper(product.productName, 68) }}
            </a>
    
            <p class="price">{{ product.price | currency }}</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="action-btns">
      <button>Proceed to Checkout</button>
    </div>
  </section>
</div>
