@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.cart-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  height: 100%;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease;

  &.slide-out {
    animation: slideOut 0.3s ease forwards;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;

    p {
      color: #555;
      font-size: 1rem;
    }

    .close-btn {
      margin-left: auto;

      .material-icons {
        color: #666;
        transition: color .2s ease;
      }

      &:hover {
        .material-icons {
          color: #333;
        }
      }
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: auto;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1rem;
      background: linear-gradient(#fff, transparent);
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1rem;
      background: linear-gradient(transparent, #fff);
      z-index: 1;
    }
  }

  .item-list {
    position: relative;
    width: 100%;
    max-height: calc(120px * 7 - 81.78px);
    padding: 1rem;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      display: flex;
      align-items: center;
      width: inherit;
      padding: 1rem 0;
      
      &:not(:last-of-type) {
        border-bottom: thin solid #ff9a9e;
        // margin-bottom: 1.5rem;
      }

      .product-image {
        flex-shrink: 0;
        width: 130px;
        height: 130px;
        background-color: #fff;

        img {
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

      .product-info {
        width: calc(100% - 130px);
        padding: 1.5rem;
        overflow: hidden;

        .product-name {
          display: block;
          margin-bottom: 1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .price {
          margin-bottom: 1rem;
          color: #555;
          font-size: 1rem;
          font-weight: 600;
        }

        .remove-btn {
          position: relative;
          
          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            transform: scaleX(0);
            width: 100%;
            height: 1px;
            background-color: #444;
            transition: transform .2s ease;
          }
      
          &:hover::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .action-btns {
    position: absolute;      
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    background-color: #fff;

    button {
      position: relative;
      margin-left: auto;
      padding: 0.4rem 0;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          transform: scaleX(0);
          width: 100%;
          height: 1px;
          background-color: #444;
          transition: transform .2s ease;
        }
    
        &:hover::before {
          transform: scaleX(1);
        }
    }
  }
}