<!-- <div (click)="overlayClick($event)" *ngIf="viewCart" class="overlay">
  <aside class="cart">
    <div class="top">
      <p>Shopping Cart</p>

      <button 
        (click)="onClose()" 
        type="button" class="close-btn" title="Close">
        <i class="material-icons">close</i>
      </button>
    </div>

  </aside>
</div> -->

<aside-panel
  [heading]="heading"
  [showPanel]="viewCart"
  (showPanel)="viewCart = $event">
  <app-spinner [loading]="isLoading"></app-spinner>

  <div class="cart">
    <div 
      *ngIf="!cartItems?.length && !isLoading" 
      class="empty-cart-msg">
      <h3>Your cart is empty</h3>
    </div>

    <div 
      *ngIf="cartItems?.length" 
      class="content">
      <ul #itemList class="item-list">
        <li *ngFor="let item of cartItems">
          <div *ngIf="item.productImage" class="product-image">
            <img image-loader [src]="item.productImage" [alt]="item.productName">
          </div>

          <div class="product-info">
            <a [routerLink]="['/product', item.productId]" target="_blank" class="product-name">
              {{ item.productName | textClip:80 }}
            </a>  
    
            <div>
              <p class="price">{{ item.price | currency }}</p>
              <p class="stock-label">
                {{ item.totalStock > 0 ? 'In stock' : 'Not in stock' }}
              </p>
            </div>

            <div class="options">
              <label for="quantity">
                Quantity: 
                <input 
                  (change)="quantityChanges(item, $event.target.value)"
                  [value]="item.quantity"
                  name="quantity"
                  id="quantity"
                  type="number" min="1" [max]="item.totalStock">
              </label>

              <button 
                (click)="onRemove(item.productId)"
                class="remove-btn">Remove</button>
            </div>

            <div *ngIf="item.quantity > 1" class="subtotal">
              <p>
                Subtotal (<span>{{ item.quantity }} items</span>):
                <span class="price">
                  {{ item.subtotal | currency }}
                </span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="cartItems?.length && !isLoading" class="bottom">
      <div class="subtotal">
        <span class="subtotal-items">Items: <strong>{{ itemCount | number }}</strong></span>
        <span class="subtotal-amount">Order Total: <strong>{{ subtotal | currency }}</strong></span>
      </div>

      <button 
        (click)="proceedToCheckOut()" 
        class="checkout-btn" type="button">
        Proceed to Checkout
      </button>
    </div>
  </div>

</aside-panel>