@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease;

  &.slide-out {
    animation: slideOut 0.3s ease forwards;
  }

  .empty-cart-msg {
    margin: 15rem auto;
    user-select: none;
    
    h3 {
      color: #5c5c5c;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 66px;
    padding: 0 1.5rem;

    p {
      color: #555;
      font-size: 1rem;
    }

    .close-btn {
      margin-left: auto;

      .material-icons {
        color: #666;
        font-size: 1.4rem;
        transition: color .2s ease;
      }

      &:hover {
        .material-icons {
          color: #333;
        }
      }
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 1.5rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1rem;
      background: linear-gradient(#fff, transparent);
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1rem;
      background: linear-gradient(transparent, #fff);
      z-index: 1;
    }
  }

  .item-list {
    position: relative;
    width: 100%;
    max-height: calc(100vh - 132px);
    padding: 1rem 0;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      display: flex;
      align-items: center;
      width: inherit;
      padding: 0.5rem 0;
      
      &:not(:last-of-type) {
        border-bottom: thin solid #ffc7c9;
      }

      .product-image {
        flex-shrink: 0;
        width: 130px;
        height: 130px;
        background-color: #fff;

        img {
          height: 100%;
          object-fit: contain;
          object-position: center center;
        }
      }

      .product-info {
        width: calc(100% - 130px);
        padding: 1.5rem;
        overflow: hidden;

        .product-name {
          display: block;
          margin-bottom: 0.5rem;
          color: royalblue;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .price {
          margin-bottom: 0.5rem;
          color: #555;
          font-size: 1rem;
          font-weight: 600;
        }

        .options {
          display: flex;
          align-items: center;
          width: 100%;

          input[name="quantity"] {
            display: inline-block;
            width: 70px;
            margin-right: 1rem;
            padding: 0.2rem;
            text-align: center;
            border-radius: 6px;
            background-color: #fff0eb;
          }
        }

        .remove-btn {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            transform: scaleX(0);
            width: 100%;
            height: 1px;
            background-color: #444;
            transition: transform .2s ease;
          }
      
          &:hover::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;      
    left: 0;
    bottom: 0;
    width: 100%;
    height: 66px;
    padding: 0 1.5rem;
    border-top: thin solid #eee;
    background-color: #fff;

    .subtotal {

      &-items {
        margin-right: 1rem;
      }
    }

    button {
      position: relative;
      margin-left: auto;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        transform: scaleX(0);
        width: 100%;
        height: 1px;
        background-color: #444;
        transition: transform .2s ease;
      }
  
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}