<div *ngIf="!viewCart" class="overlay">
  <section class="cart">
    <div class="top">
      <p>Shopping Cart</p>

      <button 
        (click)="onClose()" 
        type="button" class="close-btn" title="Close">
        <i class="material-icons">close</i>
      </button>
    </div>

    <div class="content">
      <ul class="item-list">
        <!-- <li *ngFor="let product of cartItems">
          <div *ngIf="product.productImage" class="product-image">
            <img [src]="product.productImage" [alt]="product.productName">
          </div>

          <div class="product-info">
            <a href="#" class="product-name">
              {{ textClipper(product.productName, 68) }}
            </a>
    
            <p class="price">{{ product.price | currency }}</p>

            <div class="options">
              <label for="quantity">
                Quantity: 
                <input 
                  [value]="product.quantity"
                  name="quantity"
                  id="quantity"
                  type="number" min="1" [max]="product.totalStock">
              </label>

              <button 
                (click)="onRemove(product.productId)"
                class="remove-btn">Remove</button>
            </div>
          </div>
        </li> -->

        <li>
          <div class="product-image">
            <img src="assets/img/product-images/product3.jpg">
          </div>

          <div class="product-info">
            <a href="#" class="product-name">
              Mehron Makeup Paradise AQ Face & Body Paint 8 Color Palette (Nuance)
            </a>
    
            <p class="price">{{ 39.99 | currency }}</p>

            <div class="options">
              <label for="quantity">
                Quantity: 
                <input 
                  value="1"
                  name="quantity"
                  id="quantity"
                  type="number" min="1" max="10">
              </label>

              <button class="remove-btn">Remove</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="action-btns">
      <button>Proceed to Checkout</button>
    </div>
  </section>
</div>

<ng-template #empty>
  <h3>Your cart is empty</h3>
</ng-template>