.pagination-cntrls {
  width: 100%;
  margin-top: 6rem;

  .nav-buttons-wrapper {
    display: flex;
    align-items: center;
    width: fit-content;

    button {
      margin-right: 0.1rem;
      padding: 0.2rem 0.5rem;
      border: thin solid #c7cad8;
      
    }
  }
}