<div *ngIf="variants.length" class="variant-wrapper">
  <div 
    *ngFor="let option of variantOptions; index as index" >
    <section 
      *ngIf="option.variants.length"
      class="variant-option color">
      <button 
        (click)="showAllOptions(option.label)"
        class="show-all-btn">
        <div class="variant-type">
          <h3>{{ option.label }}</h3>
          <p>{{ dynamicVariantValue(index) }}</p>
        </div>
        <i class="material-icons">keyboard_arrow_right</i>
      </button>

      <div class="option-flex">
        <button         
          (click)="onOptionChange(variant.variantId)"
          *ngFor="let variant of option.variants;"
          (mouseover)="hoveredVariant = variant.variantId"
          (mouseout)="hoveredVariant = activeVariant"
          [class]="option.label !== 'Color' ? 'option-icon' : 'option-icon-l'"
          [class.active]="activeVariant == variant.variantId">
          <img 
            *ngIf="option.label == 'Color'"
            [src]="variant.iconUrl" 
            draggable="false">
          <span *ngIf="option.label !== 'Color'">
            {{ variant.optionValue }}
          </span>
        </button>
      </div>
    </section>
  </div>
</div>
<variant-panel
  [variantLabel]="variantPanelLabel"
  [showPanel]="showPanel"
  (showPanel)="showPanel = false"></variant-panel>