.panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 550px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease;
  transition: width .3s ease;
  overflow: hidden;

  &.slide-out {
    animation: slideOut 0.2s ease forwards;
  }

  .top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 68px;
    padding: 0 1.5rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1rem;
      width: 100%;
      height: 1rem;
      background: linear-gradient(#fff, transparent);
      z-index: 1;
    }

    .close-btn {
      margin-left: auto;
      padding: 0.7rem;
      border-radius: 40px;
      transition: background-color .4s ease;

      .material-icons {
        color: #7a8196;
        font-size: 1.3rem;
        transition: color .4s ease;
      }

      &:hover {
        .material-icons {
          color: darken(#7a8196, 15);
        }
        background-color: #e6e9f0;
      }
    }
  }
}

@media (max-width: 600px) {
  .panel {
    width: 100%;
  }
}