.panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 550px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease;
  transition: width .3s ease;
  overflow: hidden;

  &.slide-out {
    animation: slideOut 0.2s ease forwards;
  }

  .top {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 10;

    .close-btn {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      width: 35px;
      height: 35px;
      border-radius: 40px;
      transition: background-color .4s ease;

      .material-icons {
        color: #7a8196;
        font-size: 1.2rem;
        transition: color .4s ease;
      }

      &:hover {
        .material-icons {
          color: darken(#7a8196, 5);
        }
        background-color: #eef0f5;
      }
    }
  }
}

@media (max-width: 600px) {
  .panel {
    width: 100%;
  }
}