.panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 550px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease;
  transition: width .3s ease;
  overflow: hidden;

  &.slide-out {
    animation: slideOut 0.2s ease forwards;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;

    .title {
      color: #7a8196;
      font-weight: 400;
    }

    .close-btn {
      margin-left: auto;

      .material-icons {
        color: #7a8196;
        font-size: 1.3rem;
        transition: color .4s ease;
      }

      &:hover {
        .material-icons {
          color: darken(#7a8196, 15);
        }
      }
    }
  }
}


@media (max-width: 500px) {
  .panel {
    width: 100%;
  }
}