.variant-panel {
  width: 100%;
  height: 100%;
  
  .option-list {
    width: 100%;
    height: inherit;
    padding: 5rem 1.5rem;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .option {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1rem 1.2rem;
      border: 1px solid #e6e9f0;
      border-radius: 4px;
      transition: all .4s ease;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &:hover {
        border-color: darken(#e6e9f0, 25);
      }

      &.active {
        border-color: #F72551;
      }

      img {
        flex-shrink: 0;
        width: 55px;
        height: 55px;
        margin-right: 1rem;
        object-fit: contain;
      } 

      .option-name {
        width: 240px;
        margin-right: 1rem;
        color: #101010;
        font-size: .85rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
        overflow: hidden;
      }

      .price-difference {
        font-size: .85rem;
        margin-left: auto;
      }
    }
  }

}