@keyframes fillIn {
  from { width: 0; }
}

.rating-per-start-graph {
  width: 100%;
  margin-top: 3rem;

  .bar-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .material-icons {
      font-size: 0.6rem;
    }

    .star-icon-label {
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20px;

      .label {
        margin-right: 0.1rem;
        font-size: .75rem;
      }
    }

    .outer-bar {
      position: relative;
      width: 70%;
      height: 9px;
      margin: 0 1rem 0 0.5rem;
      border-radius: 1rem;
      background-color: #e9ebf1;
      overflow: hidden;

      .inner-bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        border-radius: 1rem;
        transition: width .4s ease;
        background-color: #2587f7;
        animation: fillIn 0.7s ease;
      }
    }

    .star-total-reviews {
      font-size: .75rem;
    }
  }
}

