<app-modal [showModal]="openLightbox" (showModal)="onClose()">

  <div *ngIf="images?.length" class="lightbox">
    <div class="top-content">
      <button 
        (click)="onNavButtonClick('previous')"
        [disabled]="currentImage == 0"
        class="nav-button before">
        <i class="material-icons">navigate_before</i>
      </button>

      <button 
        (click)="onNavButtonClick('next')"
        [disabled]="currentImage == images.length - 1"
        class="nav-button after">
        <i class="material-icons">navigate_next</i>
      </button>

      <ul #imageContainer class="image-container">        
        <li #slide *ngFor="let image of images;" class="slide">
          <div class="slide-image-frame">
            <img image-loader [src]="image" alt="Product Image">
          </div>
        </li>
      </ul>
    </div>
    
    <div class="bottom-content">
      <div class="range-clickable-area">
        <button class="range">
          <!-- click event missing -->
          <span 
            #rangeIndicator
            [style.width.%]="100 / images.length" 
            class="indicator"></span>
        </button>
      </div>
    </div>
  </div>

</app-modal>