.quantity-selector {
  display: flex;
  align-items: center;
  min-height: 20px;
  width: fit-content;
  margin: 0 auto 4rem;        

  button {
    padding: 0.5rem 0.7rem;

    .material-icons {
      font-size: 0.95rem;
    }
  }

  .quantity {
    display: block;
    width: 60px;
    padding: 0.3rem 0.7rem;            
    font-size: .85rem;
    text-align: center;
    white-space: nowrap;
    border-radius: 100px;
    background-color: #e6e9f0;
    overflow: hidden;
    user-select: none;
  }
}