.search-area {
  width: 100%;
  min-height: 450px;
  transform: scaleY(0);
  transform-origin: top;
  padding: 1.5rem 1.5rem 3rem;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  animation: grow .3s ease forwards;
  
  .btn-circle {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 40px;
    transition: background-color .4s ease,
    opacity .4s ease;

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }

    .material-icons {
      color: #7a8196;
      font-size: 1.2rem;
      transition: color .4s ease;
    }

    &:not(:disabled):hover {
      .material-icons {
        color: darken(#7a8196, 5);
      }
      background-color: #eef0f5;
    }
  }

  .close-btn {
    margin-left: auto;
  }

  .top-area {
    position: relative;
    align-items: center;
    width: 100%;

    .form-group {
      flex: 1;
      position: relative;
      display: flex;
      align-items: center;
      border-bottom: thin solid #c7cad8;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        transform: scaleX(0);
        width: 100%;
        height: 1px;
        background-color: #F72551;
        transition: transform .3s ease;
        z-index: 1;
      }
  
      &.focused {
        &::after {
          transform: scaleY(1);
        }
      }

      .srch-btn {
        .material-icons {
          color: initial;
          font-size: 1.3rem;
        }
      }

      input {
        width: 100%;
        padding: 1rem 0.5rem;
        color: initial;

        &::placeholder {
          color: rgba(76, 78, 90, 0.7);
        }
      }

      .reset-srch-control {
        opacity: 0;
        width: 25px;
        height: 25px;
        pointer-events: none;
        background-color: #eef0f5;

        &.visible {
          opacity: 1;
          pointer-events: all;
        }

        .material-icons {
          color: initial;
          font-size: 1rem;
        }
      }
    }
  }

  .bottom-content {
    width: 100%;
    height: inherit;
    user-select: none;

    .title {
      display: flex;
      align-items: center;
      margin-top: 2rem;

      p, button {
        font-size: .8rem;
      }

      .clear-history-btn {
        margin-left: .85rem;
        text-decoration: underline;
      }
    }

    .search-results {
      margin-top: 3rem;
    }

    .search-history {
      margin-top: 1rem;
      overflow-y: auto;
    }

    .search-results,
    .search-history {
      width: 100%;

      li {
        position: relative;
        display: flex;
        align-items: center;
        padding: 1rem 0;
        border-radius: 4px;
        overflow: hidden;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        .product-srch-icon {
          width: 60px;
          height: 60px;
          margin-right: 2rem;
          object-fit: contain;
          object-position: center center;
        }

        .product-srch-details {
          max-width: 700px;
          overflow: hidden;
          
          .product-srch-name {
            display: inline-block;
            width: 100%;
            margin-bottom: 0.5rem;
            padding-bottom: 0.2rem;
            color: initial;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;            
            overflow: hidden;

            &:hover {
              text-decoration: underline;
            }
          }

          .product-srch-category {
            padding-bottom: 0.2rem;
            font-size: .8rem;
          }
        }        
      }
    }
  }
}