<div 
  #overlay 
  (click)="onClickOutside($event)"
  *ngIf="showSearchbox"
  class="overlay">
  <section class="search-area">
    <button 
      (click)="onClose()"
      class="btn-circle close-btn" title="Close">
      <i class="material-icons">close</i>
    </button>

    <div class="wrapper-l">
      <div class="top-area">
        <div 
          class="form-group"
          [class.focused]="isFocused || srchControl.value">
          <button 
            (click)="beginSearch()"
            [disabled]="!srchControl.value"
            class="btn-circle srch-btn">
            <i class="material-icons">search</i>
          </button>

          <input 
            #input
            autoFocus="true"
            (focus)="isFocused = true"
            (blur)="isFocused = false"
            [formControl]="srchControl"
            type="text" 
            placeholder="Looking for a product?">

          <button 
            (click)="srchControl.reset(); input.focus()"
            class="btn-circle reset-srch-control"
            [class.visible]="srchControl.value">
            <i class="material-icons">clear</i>
          </button>
        </div>
      </div>

      <div class="bottom-content">
        <ul class="search-results">
          <li *ngFor="let match of matches$ | async">
            <img 
              [src]="match.productImage"
              [alt]="match.productName"
              draggable="false"
              class="product-srch-icon">
            <div class="product-srch-details">
              <a 
                href="/products/{{ match.productId }}"
                class="product-srch-name">
                <strong class="highlight">{{srchControl.value}}</strong><span>{{match.productName.slice(srchControl.value.length)}}</span>
              </a>
              <p class="product-srch-category">{{ match.category }}</p>
            </div>
          </li>
        </ul>
        
        <div *ngIf="srchHistory && !srchControl.value">
          <div class="title">
            <p>Search history</p>
            <button 
              (click)="clearSrchHistory()" 
              class="clear-history-btn">Clear</button>
          </div>
          <ul class="search-history">
            <li *ngFor="let srchItem of srchHistory">
              <img 
                [src]="srchItem.productImage"
                [alt]="srchItem.productName"
                draggable="false"
                class="product-srch-icon">
              <div class="product-srch-details">
                <a 
                  href="/products/{{ srchItem.productId }}"
                  class="product-srch-name">
                  {{ srchItem.productName }}
                </a>
                <p class="product-srch-category">{{ srchItem.category }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>      
    </div>
  </section>
</div>