<div 
  #overlay 
  (click)="onClickOutside($event)"
  *ngIf="showSearchbox"
  class="overlay">
  <section class="search-area">
    <div class="wrapper-l">
      <div class="top-area">
        <div 
          class="form-group"
          [class.focused]="isFocused || control.value">
          <button class="srch-btn">
            <i class="material-icons">search</i>
          </button>

          <input 
            autoFocus="true"
            (focus)="isFocused = true"
            (blur)="isFocused = false"
            [formControl]="control"
            type="text" 
            placeholder="Looking for a product?">
        </div>
        
        <button 
          (click)="onClose()"
          type="button" class="close-btn" title="Close">
          <i class="material-icons">close</i>
        </button>
      </div>

      <div class="bottom-content">
        <div class="title">
          <p>Search history</p>
          <button class="clear-history-btn">
            Clear
          </button>
        </div>
        <ul class="search-results">
          <li>
            <a [routerLink]="['/products/', 29]">
              <img 
                src="http://127.0.0.1/market-api/product-images/full/product_29/product_29-5f121c9cbe1ba9.72430253.jpg"
                alt="Product icon"
                class="product-srch-icon">
              <span class="product-srch-name">
                Mens Slouchy Long Oversized Beanie Knit Cap for Summer Winter - Bright Blue
              </span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/products/', 46]">
              <img src="http://127.0.0.1/market-api/product-images/full/product_46/product_46-5f123cc9886a21.76147139.jpg" class="product-srch-icon">
              <span class="product-srch-name">
                Mens Slouchy Long Oversized Beanie Knit Cap for Summer Winter - Claret & Grey
              </span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/products/', 78]">
              <img src="http://127.0.0.1/market-api/product-images/full/product_78/product_78-5f31c8b2ac76d2.45930135.jpg" class="product-srch-icon">
              <span class="product-srch-name">
                Mens Slouchy Beanie Hat Thin Baggy Summer Skull Cap
              </span>
            </a>
          </li>
        </ul>
      </div>      
    </div>
  </section>

</div>
