<div 
  #overlay 
  (click)="onClickOutside($event)"
  *ngIf="showSearchbox"
  class="overlay">
  <section class="search-area">
    <button 
      (click)="onClose()"
      class="btn-circle close-btn" 
      title="Close"
      aria-label="Close">
      <i class="material-icons">close</i>
    </button>

    <div class="wrapper-l">
      <div class="top-area">
        <form 
          [formGroup]="srchForm"
          (ngSubmit)="onSubmit()"
          class="search-form"
          [class.focused]="isFocused || srchControl.value">
          <button 
            [disabled]="srchForm.invalid"
            class="btn-circle srch-btn"
            aria-label="Search">
            <i class="material-icons">search</i>
          </button>

          <input 
            #input
            autoFocus="true"
            (focus)="isFocused = true"
            (blur)="isFocused = false"
            [formControl]="srchControl"
            type="text" 
            placeholder="Find just what you need">

          <button 
            (click)="srchControl.reset(); input.focus()"
            class="btn-circle reset-srch-control"
            [class.visible]="srchControl.value"
            aria-label="Clear search field">
            <i class="material-icons">clear</i>
          </button>
        </form>
      </div>

      <div class="bottom-content">
        <ul class="search-results">
          <li *ngFor="let match of matches$ | async">
            <a href="/products/{{ match.productId }}">
              <img 
                [src]="match.productImage"
                [alt]="match.productName"
                draggable="false"
                class="product-srch-icon">
              <div class="product-srch-details">
                <p class="product-srch-name">
                  <strong class="highlight">{{srchMatchHighlight(match.productName)}}</strong><span>{{srchMatchRemainder(match.productName)}}</span>
                </p>
                <p class="product-srch-category">{{ match.category }}</p>
              </div>
            </a>
          </li>
        </ul>
        
        <div *ngIf="srchHistory && !srchControl.value">
          <div class="title">
            <p>Search history</p>
            <button 
              (click)="clearSrchHistory()" 
              class="clear-history-btn"
              aria-label="Clear history">Clear</button>
          </div>
          <ul class="search-history">
            <li *ngFor="let srchItem of srchHistory">
              <a href="/products/{{ srchItem.productId }}">
                <img 
                  [src]="srchItem.productImage"
                  [alt]="srchItem.productName"
                  draggable="false"
                  class="product-srch-icon">
                <div class="product-srch-details">
                  <p class="product-srch-name">
                    {{ srchItem.productName }}
                  </p>
                  <p class="product-srch-category">{{ srchItem.category }}</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>      
    </div>
  </section>
</div>