.outer-stars {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  .material-icons {
    font-size: 1.3rem;
    color: #cccfd8;
  }

  .inner-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
  
    .material-icons {
      color: #F72551;
    }
  }
}



