<section class="reviews-section">
  <div *ngFor="let review of reviews; index as index" 
    class="review-card">
    
    <div class="top">
      <div class="user-avatar">
        <img [src]="review.userAvatar" draggable="false">
      </div>

      <p class="user">{{ review.user }}</p>
    </div>

    <div class="content">
      <div class="rating-headline">
        <star-rating 
          [overall]="review.userRating" 
          [readonly]="true"></star-rating>
          
        <h3 class="headline">{{ review.headline }}</h3>
      </div>
      
      <article>
        <p class="date">{{ review.reviewDate | date:'MMMM dd y' }}</p>

        <div class="review-body">
          <p [innerHTML]="getReviewBody(review)"></p>

          <div 
            *ngIf="isLong(review.review) && !review.expandReview" 
            class="read-more-btn">
            <button (click)="review.expandReview = true">
              <span>Read more</span>
              <i class="material-icons">unfold_more</i>
            </button>
          </div>
        </div>        
      </article>
    </div>    

    <div class="action-buttons">
      <span class="label">Helpful?</span>

      <div class="btn-wrapper">
        <button class="like-btn">
          <i class="material-icons">thumb_up_alt</i>
        </button>
        <span class="count">{{ review.likes | number }}</span>
      </div>

      <div class="btn-wrapper">
        <button class="dislike-btn">
          <i class="material-icons">thumb_down_alt</i>
        </button>
        <span class="count">{{ review.dislikes | number }}</span>
      </div>      
    </div>
  </div>
</section>