<section class="signup-section">
  <div class="quick-store-info-column">
    <div class="cover-image">
      <img image-loader src="assets/img/signup-form.webp" draggable="false">
    </div>

    <div class="top-content">
      <button routerLink="/" class="return-btn" type="button">
        <i class="material-icons">navigate_before</i>
      </button>

      <a class="logo">
        <span>A</span>
        <span>rmazon</span>
      </a>
    </div>

    <div class="middle-content">
      <h3>Create an Armazon account, and enjoy great benefits!</h3>
    </div>

    <div class="bottom-content">
      <p>
        Armazon.do - <a href="#">Cookie Policy</a> and 
        <a href="#">Privacy Policy</a>
      </p>
      <p>&copy; Armazon by Adison P. Martínez 2019-{{ currentYear }}</p>
    </div>
  </div>

  <div class="signup-form-column">
    <form 
      [formGroup]="signupForm" 
      (ngSubmit)="onSubmit()" 
      id="signupForm">
      <div class="form-group">
        <div class="form-group-wrapper">
          <input formControlName="firstName" 
          [class.invalid]="firstName.touched && firstName.invalid"
          [class.valid]="firstName.touched && firstName.valid">
          <label [class.shrink]="firstName.value">
            First name
          </label>
        </div>

        <div 
          *ngIf="firstName.touched && firstName?.errors"
          class="invalid-feedback">
          <p *ngIf="firstName.errors.required">
            Enter your first name
          </p>

          <p *ngIf="firstName.errors.pattern">
            Enter a valid first name
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-wrapper">
          <input formControlName="lastName"
          [class.invalid]="lastName.touched && lastName.invalid"
          [class.valid]="lastName.touched && lastName.valid">
          <label [class.shrink]="lastName.value">
            Last name
          </label>
        </div>

        <div 
          *ngIf="lastName.touched && lastName?.errors"
          class="invalid-feedback">
          <p *ngIf="lastName.errors.required">
            Enter your last name
          </p>

          <p *ngIf="lastName.errors.pattern">
            Enter a valid last name
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-wrapper">
          <input formControlName="mobile"
          [class.invalid]="mobile.value && mobile.invalid"
          [class.valid]="mobile.value && mobile.valid">
          <label [class.shrink]="mobile.value">
            Mobile (DO)
          </label>

          <div *ngIf="mobile.pending" class="loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div 
          *ngIf="mobile.touched && mobile?.errors"
          class="invalid-feedback">
          <p *ngIf="mobile.value && mobile.errors.mobile">
            Invalid mobile format
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-wrapper">
          <input formControlName="email" type="email"
          [class.invalid]="email.touched && email.invalid"
          [class.valid]="email.touched && email.valid">
          <label [class.shrink]="email.value">
            Email address (username)
          </label>

          <div *ngIf="email.pending" class="loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div 
          *ngIf="email.touched && email?.errors"
          class="invalid-feedback">
          <p *ngIf="email.errors.required">
            Enter your email address
          </p>

          <p *ngIf="email.value && email.errors.email">
            Invalid email format
          </p>

          <p *ngIf="email.errors.exists">
            This email is already in use
          </p>
        </div>

        <div *ngIf="email.valid" class="valid-feedback">
          <p>Available! <i class="material-icons">done</i></p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-wrapper">
          <input formControlName="password" 
          [class.invalid]="password.touched && password.invalid"
          [class.valid]="password.touched && password.valid"
          [type]="!showPassword ? 'password' : 'text'">
          <label [class.shrink]="password.value">Password</label>

          <!-- Create password strength indicator that updates on valueChanges -->

          <button 
            (click)="showPassword = !showPassword"
            class="toggle_password_visibility"
            type="button"
            tabindex="-10">
            <i *ngIf="!showPassword" class="material-icons">visibility</i>
            <i *ngIf="showPassword" class="material-icons">visibility_off</i>
          </button>
        </div>

        <div 
          *ngIf="password.touched && password?.errors"
          class="invalid-feedback">
          <p *ngIf="password.errors.required">
            Enter a password
          </p>

          <p *ngIf="password.errors.minlength">
            The password can't be less than 5 characters
          </p>

          <p *ngIf="password.value && password.errors.password">
            Invalid password
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-wrapper">
          <input formControlName="rePassword" 
          [class.invalid]="rePassword.touched && rePassword.invalid"
          [class.valid]="rePassword.touched && rePassword.valid"
          [type]="!showRePassword ? 'password' : 'text'">
          <label [class.shrink]="rePassword.value">Retype your password</label>

          <button 
            (click)="showRePassword = !showRePassword"
            class="toggle_password_visibility"
            type="button"
            tabindex="-10">
            <i *ngIf="!showRePassword" class="material-icons">visibility</i>
            <i *ngIf="showRePassword" class="material-icons">visibility_off</i>
          </button>
        </div>

        <div 
          *ngIf="rePassword.touched && 
          (rePassword?.errors || signupForm?.errors?.rePassword)"
          class="invalid-feedback">
          <p *ngIf="rePassword?.errors?.required">
            Re-enter your password
          </p>

          <p *ngIf="rePassword.value && signupForm?.errors?.rePassword">
            The passwords don't match
          </p>
        </div>
      </div>
  
      <div class="action-buttons">
        <button 
          [disabled]="signupForm.invalid || email.pending"
          class="btn-xl-filled signup-btn">Create account</button>
      </div>

      <a routerLink="../login" class="existing-user">
        Already a member? Log in now
      </a>
    </form>
  </div>

  <app-spinner [loading]="isLoading"></app-spinner>
</section>