<section class="signup-section">
  <div class="quick-store-info-column">
    <div class="cover-image">
      <img image-loader src="assets/img/signup-form.webp" draggable="false">
    </div>

    <div class="top-content">
      <button routerLink="/" class="return-btn" type="button">
        <i class="material-icons">navigate_before</i>
      </button>
      <a class="logo">
        <span>A</span>
        <span>rmazon</span>
      </a>
    </div>

    <div class="middle-content">
      <h3>Create an Armazon account, and enjoy great benefits!</h3>
    </div>

    <div class="bottom-content">
      <p>
        Armazon.do - <a href="#">Cookie Policy</a> and 
        <a href="#">Privacy Policy</a>
      </p>
      <p>&copy; Armazon by Adison P. Martínez 2019-{{ currentYear }}</p>
    </div>
  </div>

  <div class="signup-form-column">
    <div class="form-wrapper">
      <dynamic-form
        [fields]="fields"
        [enableValidCSS]="true"
        [submitOnInvalid]="false"
        [validators]="formValidator"
        (onSubmit)="onSubmit($event)"></dynamic-form>

      <a routerLink="../login" class="existing-user">
        Already a member? Log in now
      </a>
    </div>
  </div>

  <app-spinner [loading]="isLoading"></app-spinner>
</section>