@import url('./scss/reset.scss');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@import 'scss/animations';

html::-webkit-scrollbar-thumb {
  position: fixed;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0 !important;
  border: none !important;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8;
}

::selection {
  background-color: rgba(162, 192, 255, 0.3);
}

* {
  color: #4c4e5a;
  font-size: .9rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%) no-repeat;
  // background-color: #fff;

  &.active-sidepanel,
  &.active-modal {
    overflow: hidden;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}

textarea {
  resize: none;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1300px;
  margin: auto;
}

.wrapper-l {
  max-width: 1600px;
  margin: auto;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  animation: reveal 0.4s ease forwards;
  z-index: 1000;

  &.hide {
    animation: hide 0.4s ease forwards;
  }
}

.banner {
  position: relative;
  width: 100%;
  min-height: 250px;
  margin-bottom: 3rem;
  padding: 2rem;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .banner-text {
    position: relative;
    width: 50%;
    z-index: 1;

    h3, p {
      margin-bottom: 1.5rem;
      color: #fff;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    
    h3 {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 2.5rem;        
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.6rem;  
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 40px;
      color: #fff;
      border: 1px solid #F72551;
      border-radius: 60px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
