@keyframes bounce {
  0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-4px);
	}
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes reveal {
  from {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes hide {
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes zoomOut {
  to {
    transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes fileAdded {
  from {
    transform: scale(0.94, 0.94);
    opacity: 0;
  }
}

@keyframes fileRemoved {
  to {
    transform: scale(0.90, 0.90);
    opacity: 0;
  }
}