@keyframes reveal {
  from {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes hide {
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes zoomOut {
  to {
    transform: scale(3.5);
    opacity: 0;
  }
}