<app-modal 
  [width]="'60vw'"
  [height]="'90vh'"
  [showModal]="showForm" 
  (showModal)="onClose()">
  <div *ngIf="showForm"
    class="container" 
    [class.review-submitted]="reviewSubmitted">

    <app-spinner [loading]="isLoading"></app-spinner>
    
    <div *ngIf="product" class="product-details">
      <div class="product-image">
        <img image-loader [src]="product?.images[0]" [alt]="product.productName">    
      </div>

      <h3 class="product-name">{{ product.productName }}</h3>
    </div>
    
    <form 
      [formGroup]="reviewForm" 
      (ngSubmit)="onSubmit()"
      id="review-form">
      <div class="form-group">
        <label>Overall rating</label>
        <star-rating 
          [newRating]="true"
          (selectedRating)="onRatingSelection($event)"></star-rating>
      </div>
      
      <div class="form-group">
        <label>Add a headline</label>
        <input formControlName="headline" type="text">
      </div>

      <div class="form-group">
        <label>Wire your review</label>
        <textarea formControlName="review" rows="7"></textarea>
      </div>

      <div class="form-group">
        <button 
          [disabled]="reviewForm.invalid"
          class="submit-btn">Submit</button>
      </div>
    </form>

    <div *ngIf="reviewSubmitted" class="success-msg">
      <h3>Thank you for your review!</h3>

      <div class="icon">
        <i class="material-icons">done</i>
      </div>
    </div>
  </div>
</app-modal>